<template>
  <p>
    This is a temporary page for the landing of the Main Module. The user is redirected to the input page
    as soon as the Vuex state is completed.
  </p>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      rams_entity: null
    }
  },
  created() {
    var entityID = this.$route.query.entityID
    if ( entityID === undefined ) {
      // if the studyID is not defined and the entityID is not defined raise an error
      this.$message.error('Invalid Project ID, please go the Main Module page and re-open the correct entity for the RAMS Module')
      return -1
    }
    // if the studyID is not set and the entityID is available we save the value to Vuex
    this.$store.dispatch('studies/setId', { studyId: parseInt(entityID, 10) })
    this.get_integration_data(parseInt(entityID, 10))
    this.getProject(parseInt(entityID, 10))
  },
  methods: {
    getProject(entityID) {
      const path = `${process.env.VUE_APP_API_URL}/rams/${entityID}`
      axios
        .get(path)
        .then(res => {
          this.rams_entity = res.data
          this.openEntity()
        })
        .catch(error => {
          this.rams_entity = null
          this.$message.error(error)
          console.error(error)
        })
    },
    openEntity() {
      debugger
      // this.$store.dispatch('studies/setTitle', { studyTitle: this.rams_entity.title })
      // this.$store.dispatch('studies/setComplexity', { complexity: this.rams_entity.complexity })
      // this.$store.dispatch('studies/setMachine', { machine: this.rams_entity.type })

      // this.$store.dispatch('studies/updateStatus', { key: 'results' , value: this.rams_entity.farm !== null })
      // if (this.rams_entity.farm !== null) {
      //   this.$store.dispatch('studies/updateStatus', { key: 'farm', value: true })
      //   this.$store.dispatch('studies/updateStatus', { key: 'site', value: true })
      //   this.$store.dispatch('studies/updateStatus', { key: 'machine', value: true })
      //   this.$store.dispatch('studies/updateStatus', { key: 'results' , value: true })
      //   this.$router.push({ name: "SiteInput" })
      //   return 0
      // }

      // if (this.rams_entity.inputs == null){
      //   this.$store.dispatch('studies/updateStatus', { key: 'farm', value: false })
      //   this.$store.dispatch('studies/updateStatus', { key: 'site', value: false })
      //   this.$store.dispatch('studies/updateStatus', { key: 'machine', value: false })
      //   this.$router.push({ name: "SiteInput" })
      //   return 0
      // }

      // axios.all([
      //   this.get_farm_inputs(this.rams_entity.id),
      //   this.get_site_inputs(this.rams_entity.id),
      //   this.get_machine_inputs(this.rams_entity.id)
      // ])
      // .then(axios.spread((f, s, m) => {
      //   debugger
      //   this.$store.dispatch('studies/updateStatus', { key: 'farm', value: (f.data.layout_type == null) ? false : true })
      //   this.$store.dispatch('studies/updateStatus', { key: 'site', value: _.isEmpty(s.data) ? false : true })
      //   this.$store.dispatch('studies/updateStatus', { key: 'machine', value: _.isEmpty(m.data) ? false : true })
      // }))
      // .catch(error => {
      //   console.log(f,m,s)
      // })

      this.$store.dispatch('studies/setTitle', { studyTitle: this.rams_entity.title })

      this.$router.push({ name: "RamsR" });
    },
    get_integration_data(rams_ID) {
      debugger
      // "http://0.0.0.0/dtop/integration/modules/ec/entities/1/projects"
      const path = `${DTOP_PROTOCOL}mm.${DTOP_DOMAIN}/api/integration/modules/rams/entities/${rams_ID}`

      console.log('DTOP_DOMAIN', path)
      axios.get(
          path,
          DTOP_AUTH
        )
        .then((res) => {
          debugger
          console.log('INTEGRATIO ANSWER: ', res.data)
          this.$store.dispatch('studies/setProjectStructure', { project_structure: res.data })
        })
        .catch((error) => {
          console.log('INTEGRATIO ANSWER: ', error)
          this.$store.dispatch('studies/setProjectStructure', { project_structure: [] })
          this.$notify.error({
            title: 'Error',
            message: 'Cannot establish a connection with the Main Module. Some functionalities might not work. Please check that the Main Module is up and running',
            duration: 0
          })
        })
    },
  }
}
</script>
