<template>
  <div>
    <el-collapse v-model="activeNames">
      <el-collapse-item v-for="stageCat in stageData" :key="stageCat.name" :title="stageCat.name" :name="stageCat.name">
        <ul>
          <!-- <span v-html=stageCat.description></span> -->
          <el-collapse-item v-for="act in stageCat.activities" :key="act.name" :title="act.name" :name="act.name">
            <ul>
              <li>
                <p><b>Description:</b> <span v-html=act.description></span></p>
              </li>
            </ul>
          </el-collapse-item>
        </ul>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  props: [
    'stageData'
  ],
  data() {
    return {
      activeNames: [],
    };
  },
}
</script>
