<template>
  <div>
    <span style="visibility: hidden">{{ projectStructure }}</span>
    <EntityTitle/>
    <h1 style="margin-left:30px">Survivability</h1>
    <el-tabs v-model="tabName" type="border-card" style="margin: 20px">
      <el-tab-pane label="Inputs" name="inputs">
        <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
          <div>
            <h4>Number of Simulation</h4>
            <el-input-number v-model="n_sim" :min="1"></el-input-number>
          </div>
          <div>
            <h4>Simulation Method</h4>
            <el-select v-model="sim_method" placeholder="Select">
              <el-option
                v-for="item in ['Monte Carlo', 'FORM']"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </div>
        </div>
        <el-card>
          <div slot="header">
            <el-button v-if="sk_entity_id==null" icon="el-icon-check" @click="uploadJSON('sk')" round data-cy="read_JSON_r">Upload SK stress</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchSK" round data-cy="read_JSON_r">Fetch SK</el-button>

            <el-button v-if="et_entity_id==null" icon="el-icon-check" @click="uploadJSON('et')" round data-cy="read_JSON_r">Upload ET stress</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchET" round data-cy="read_JSON_r">Fetch ET</el-button>

            <el-button icon="el-icon-close" @click="calculateS" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div>
          <div>
            <el-drawer
              title=""
              :visible.sync="drawer"
              direction="rtl">
              <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
              <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
                Drop json file here or
                <el-button :loading="loading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
                  Browse
                </el-button>
              </div>
            </el-drawer>
          </div>

          <el-row :gutter="10">
            <el-col :span="12">
              <json-view :data="jsonData.sk" rootKey="SK Stress" />
            </el-col>
            <el-col :span="12">
              <json-view :data="jsonData.et" rootKey="ET Stress" />
            </el-col>
          </el-row>
        </el-card>
        <h3 style="border-bottom: 1px solid #000;">ULS inputs</h3>

        <el-table :data="data_uls" stripe="stripe">
            <el-table-column prop="var" label="Name" width="100"></el-table-column>
            <el-table-column prop="desc" label="Variable Description"></el-table-column>
            <el-table-column label="Probabilistic Distribution">
                <template slot-scope="scope">
                  <el-select v-model="scope.row.pd" placeholder="Select">
                    <el-option
                      v-for="item in pd_options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </template>
            </el-table-column>


            <el-table-column label="Mean">
                <template slot-scope="scope">
                    <el-input-number v-model="scope.row.mean" :disabled="scope.row.mean=='disabled'" :min="0" :precision="2" size="mini" controls-position="right" />
                </template>
            </el-table-column>
            <el-table-column label="CoV">
              <template slot-scope="scope">
                    <el-input-number v-model="scope.row.cov" :min="0" :precision="2" size="mini" controls-position="right" />
                </template>
            </el-table-column>
        </el-table>

        <h3 style="border-bottom: 1px solid #000;">FLS inputs</h3>

        <el-table :data="data_fls" stripe="stripe">
            <el-table-column prop="var" label="Name" width="100"></el-table-column>
            <el-table-column prop="desc" label="Variable Description"></el-table-column>
            <el-table-column label="Probabilistic Distribution">
                <template slot-scope="scope">
                  <el-select v-model="scope.row.pd" placeholder="Select">
                    <el-option
                      v-for="item in pd_options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </template>
            </el-table-column>


            <el-table-column label="Mean">
                <template slot-scope="scope">
                    <el-input-number v-model="scope.row.mean" :disabled="scope.row.mean=='disabled'" :min="0" :precision="2" size="mini" controls-position="right" />
                </template>
            </el-table-column>
            <el-table-column label="CoV">
              <template slot-scope="scope">
                    <el-input-number v-model="scope.row.cov" :min="0" :precision="2" size="mini" controls-position="right" />
                </template>
            </el-table-column>
        </el-table>

        <!-- <el-collapse accordion v-model="openTab">
              <el-collapse-item title="Simulation Input" name="sim">
                <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
                  <div>
                    <h4>Number of Simulation</h4>
                    <el-input-number v-model="n_sim" :min="1"></el-input-number>
                  </div>
                  <div>
                    <h4>Simulation Method</h4>
                    <el-select v-model="sim_method" placeholder="Select">
                      <el-option
                        v-for="item in ['Monte Carlo', 'FORM']"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </div>
                </div>
              </el-collapse-item>
              <el-collapse-item title="ULS Input" name="uls">
                <el-row :gutter="10">
                  <el-col :span="24">
                    <el-table :data="data_uls" stripe="stripe">
                        <el-table-column prop="var" label="Name" width="100"></el-table-column>
                        <el-table-column prop="desc" label="Variable Description"></el-table-column>
                        <el-table-column label="Probabilistic Distribution">
                            <template slot-scope="scope">
                              <el-select v-model="scope.row.pd" placeholder="Select">
                                <el-option
                                  v-for="item in pd_options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                            </template>
                        </el-table-column>


                        <el-table-column label="Mean">
                            <template slot-scope="scope">
                                <el-input-number v-model="scope.row.mean" :disabled="scope.row.mean=='disabled'" :min="0" :precision="2" size="mini" controls-position="right" />
                            </template>
                        </el-table-column>
                        <el-table-column label="CoV">
                          <template slot-scope="scope">
                                <el-input-number v-model="scope.row.cov" :min="0" :precision="2" size="mini" controls-position="right" />
                            </template>
                        </el-table-column>
                    </el-table>
                  </el-col>
                  <el-col :span="12">

                  </el-col>
                </el-row>
              </el-collapse-item>
              <el-collapse-item title="FLS Input" name="fls">
                <el-row :gutter="10">
                  <el-col :span="24">
                    <el-table :data="data_fls" stripe="stripe">
                        <el-table-column prop="var" label="Name" width="100"></el-table-column>
                        <el-table-column prop="desc" label="Variable Description"></el-table-column>
                        <el-table-column label="Probabilistic Distribution">
                            <template slot-scope="scope">
                              <el-select v-model="scope.row.pd" placeholder="Select">
                                <el-option
                                  v-for="item in pd_options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                                </el-option>
                              </el-select>
                            </template>
                        </el-table-column>


                        <el-table-column label="Mean">
                            <template slot-scope="scope">
                                <el-input-number v-model="scope.row.mean" :disabled="scope.row.mean=='disabled'" :min="0" :precision="2" size="mini" controls-position="right" />
                            </template>
                        </el-table-column>
                        <el-table-column label="CoV">
                          <template slot-scope="scope">
                                <el-input-number v-model="scope.row.cov" :min="0" :precision="2" size="mini" controls-position="right" />
                            </template>
                        </el-table-column>
                    </el-table>
                  </el-col>
                  <el-col :span="12">

                  </el-col>
                </el-row>
              </el-collapse-item>
            </el-collapse> -->


      </el-tab-pane>
      <el-tab-pane label="Outputs" name="outputs">
        <h3 style="border-bottom: 1px solid #000;">ULS outputs</h3>
        <el-alert v-if="!uls_available"
              title="Suvivability ULS Results"
              type="info"
              :description="uls_desc"
              show-icon>
            </el-alert>
        <el-table v-else
          :data="table_data"
          style="width: 100%">
          <el-table-column v-for="column in columns"
                      :key="column"
                      :prop="column"
                      :label="column">
          </el-table-column>
        </el-table>

        <h3 style="border-bottom: 1px solid #000;">FLS outputs</h3>
        <el-alert v-if="!fls_available"
              title="Suvivability FLS Results"
              type="info"
              :description="fls_desc"
              show-icon>
            </el-alert>
        <el-table v-else
          :data="table_data_fls"
          style="width: 100%">
          <el-table-column v-for="column in columns"
                      :key="column"
                      :prop="column"
                      :label="column">
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <div>

    </div>
  </div>

</template>


<script>
import axios from "axios";
import _ from 'lodash';
import mixin from "../../mixin.js"
import BarChart from "@/components/BarChart"
import EntityTitle from '@/components/EntityTitle'


export default {
  mixins: [mixin],
  components: { EntityTitle },
  data() {
    return {
      interval_uls: null,
      interval_fls: null,
      uls_available: false,
      fls_available: false,
      uls_desc: "survivability in ULS results not available",
      fls_desc: "survivability in FLS results not available",
      pd_options: [{value: 'gaus', label: 'Gaussian'},
                   {value: 'exp', label: 'Exponential'},
                   {value: 'log', label: 'LogNormal'},
                   {value: 'wei', label: 'Weibull'},
                   {value: 'gumb', label: 'Gumbel'},
                   {value: 'const', label: 'constant'}],
      data_uls: [{var: 'S', desc: 'The load exerted upon the mooring lines', pd: 'Gaussian', mean: 'disabled', cov: 0.3},
               {var: 'R', desc: 'The material resistance of mooring lines (referring to the maximum breaking load (MBL) of mooring lines)', pd: 'Gaussian', mean: 'disabled', cov: 0.2},
               {var: 'Xs', desc: 'The uncertainty factor for the load', pd: 'Gaussian', mean: 1.0, cov: 0.1},
               {var: 'Xr', desc: 'The uncertainty factor for the MBL', pd: 'Gaussian', mean: 1.0, cov: 0.1}],
      data_fls: [{var: 'log(a)', desc: 'log(a) is the intercept of log(N)-axis by the linear S-N curve', pd: 'Gaussian', mean: 'disabled', cov: 0},
               {var: 'm', desc: 'the negative inverse slope of the linear S-N curve.', pd: 'constant', mean: 'disabled', cov: 0},
               {var: 'h', desc: 'The shape parameter of the 2-parameter Weibull distribution of the long-term stress ranges', pd: 'constant', mean: 'disabled', cov: 0},
               {var: 'q', desc: 'The scale parameter of the 2-parameter Weibull distribution of the long-term stress ranges', pd: 'LogNormal', mean: 'disabled', cov: 0.5},
               {var: 'n', desc: 'The number of cycles of stress ranges', pd: 'constant', mean: 'disabled', cov: 0}],
      columns: ['System Name', 'Critical Component ID', 'Survivability'],
      activeNames: [],
      openTab: ['sim'],
      input_module: '',
      survivability_uls: null,
      survivability_fls: null,
      drawer: false,
      loading: false,
      jsonData: {sk: [], et: []},
      table_data: [],
      table_data_fls: [],
      n_sim: 1000,
      sim_method: 'Monte Carlo',
      standalone: true,
      ed_entity_id: null,
      et_entity_id: null,
      sk_entity_id: null,
      lmo_entity_id: null,
      tabName: 'inputs'
    }
  },
  created() {
    this.getSurvivabilityInputs()
    this.getSuvivabilityResults()
  },
  beforeDestroy: function() {
    debugger
    clearInterval(this.survivability_uls)
    clearInterval(this.survivability_fls)
  },
  computed: {
    projectStructure() {
      try {
        debugger
        let prj_str = this.$store.getters.project_structure
        let study = prj_str.filter((s) => {return s.moduleId==9})
        if (study.length == 0) {
          throw {message: 'RAMS module entity not registered in the study. Please go the Main Module and verify the module registration.'}
        }
        var entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==5})
        this.ed_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==4})
        this.et_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==6})
        this.sk_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==7})
        this.lmo_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        this.standalone = false

        console.log('INTEGRATION DEBUG')
        if ([this.ed_entity_id, this.et_entity_id, this.sk_entity_id, this.lmo_entity_id].some((id) => id === null)) {
          this.$notify.warning({
          title: 'Warning',
          message: 'One or more RAMS provider are not registered in the Main Module. It is possible to upload data in the GUI, or go to the Main Module and register the missing module(s).'
        })
        }
      } catch (error) {
        this.$notify.error({
          title: 'Error',
          message: error.message
        })
        this.standalone = true
      }
      return this.$store.getters.project_structure
    },
    provider() {
      if (this.input_module == 'et') {
        return 'et/stress/complexity1'
      } else if (this.input_module == 'sk') {
        return 'sk/stress/complexity1'
      } else {
        return ''
      }
    },
    calculate() {
      // ET missing
      // if (this.jsonData.et && this.jsonData.sk) {
      if (this.jsonData.sk) {
        return false
      }
      return true
    },
    task_uls_id() {
      return this.$store.getters.task_id_uls
    },
    task_fls_id() {
      return this.$store.getters.task_id_fls
    }
  },
  methods: {
    fetchSK() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/sk/stress/complexity1`;
      axios
        .post(path, {"entity_sk_id": this.sk_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getSurvivabilityInputs();
        })
        .catch(error => {
          debugger
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    fetchET() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/et/stress/complexity1`;
      axios
        .post(path, {"entity_et_id": this.et_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getSurvivabilityInputs();
        })
        .catch(error => {
          debugger
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    getSuvivabilityResults() {
      const path = `${process.env.VUE_APP_API_URL}/rams/results_summary/${this.studyId}`
      axios
        .get(path)
        .then(res => {
          debugger
          var uls = res.data.survivability_uls
          var fls = res.data.survivability_fls
          // check system reliability results
          if (_.isEmpty(uls)) {
            this.uls_available = false
            // if the task id is availble the calculation has been submitted
            // so set the fetch interval and change the notification message
            if ( this.task_uls_id != null ) {
              this.interval_uls = setInterval(function() {
                this.fetchULS()
              }.bind(this), 30000)
              this.uls_desc = 'ULS calculation has been submitted but the results are not available yet!'
            }
            this.uls_desc = "survivability in ULS results not available"
          } else {
            this.uls_available = true
            this.survivability_uls = uls
            this.survivability_tab_uls()
            this.tabName = 'outputs'
          }
          if (_.isEmpty(fls)) {
            this.fls_available = false
            // if the task id is availble the calculation has been submitted
            // so set the fetch interval and change the notification message
            if ( this.task_fls_id != null ) {
              this.interval_fls = setInterval(function() {
                this.fetchFLS()
              }.bind(this), 30000)
              this.fls_desc = 'FLS calculation has been submitted but the results are not available yet!'
            }
            this.fls_desc = "survivability in FLS results not available"
          } else {
            this.fls_available = true
            this.survivability_fls = fls
            this.survivability_tab_fls()
            this.tabName = 'outputs'
          }
        })
        .catch(error => {
          debugger
          this.$notify({
            title: "An error occured while fetching the entity's results from the DB",
            message: `${error}`,
            type: 'error'
          })
        })
    },
    getSurvivabilityInputs() {
      if (this.studyId !== parseInt(this.studyId, 10)) {
        this.$message.error('Invalid Project ID, redirecting to the project List');
        this.$router.push({ name: "RamsStudiesIndex" });
      } else {
        const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}`;
        axios
          .get(path)
          .then(res => {
            var d = res.data;
            if (res.data !== Object(res.data)) {
              d = eval("(" + res.data + ")");
            }
            // ET not ready yet
            // if (_.isEmpty(d.stress_et)) {
            this.jsonData.sk = d.stress_sk;
            this.jsonData.et = d.stress_et;
            // debugger
            this.activeNames = ['1']
          })
          .catch(error => {
            this.$message.error(error);
          });
      }
    },
    user_defined_payload() {
      var u_d_payload = {}
      u_d_payload['cov_a'] = this.data_fls[0].cov
      u_d_payload['cov_l'] = this.data_uls[0].cov
      u_d_payload['cov_q'] = this.data_fls[3].cov
      u_d_payload['cov_r'] = this.data_uls[1].cov
      u_d_payload['cov_ufl'] = this.data_uls[2].cov
      u_d_payload['cov_ufr'] = this.data_uls[3].cov
      u_d_payload['mu_ufl'] = this.data_uls[2].mean
      u_d_payload['mu_ufr'] = this.data_uls[3].mean
      u_d_payload['n_sim_fls'] = this.n_sim
      u_d_payload['n_sim_uls'] = this.n_sim
      u_d_payload['option_fls'] = this.sim_method
      u_d_payload['option_uls'] = this.sim_method
      u_d_payload['pd_a'] = this.data_fls[0].pd
      u_d_payload['pd_h'] = this.data_fls[2].pd
      u_d_payload['pd_l'] = this.data_uls[0].pd
      u_d_payload['pd_m'] = this.data_fls[1].pd
      u_d_payload['pd_n'] = this.data_fls[4].pd
      u_d_payload['pd_q'] = this.data_fls[3].pd
      u_d_payload['pd_r'] = this.data_uls[1].pd
      u_d_payload['pd_ufl'] = this.data_uls[2].pd
      u_d_payload['pd_ufr'] = this.data_uls[3].pd

      return u_d_payload
    },
    calculateS() {
      this.$confirm('The calculation will take approx 1-5 mins. Do you want to proceed?', 'Title', {
          confirmButtonText: 'Calculate',
          cancelButtonText: 'Cancel',
          type: 'warning'
          }).then(() => {
            this.$message({
              type: 'success',
              message: 'Calculation Submitted'
            });
            var path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/survivability/user_defined`;
            var payload = this.user_defined_payload();
            // debugger
            axios
              .post(path, payload)
              .then(res => {
                // debugger
                this.postULS();
                this.postFLS();
                this.tabName = 'outputs'
            })
            .catch(error => {
              this.$message.error(str(error));
            });
          }).catch(() => {
            this.$message({
              type: 'info',
              message: 'Calculation canceled'
            });
          });
    },
    postULS() {
      this.survivability_uls = null
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/survivability_uls`
      axios
        .post(path)
        .then(res => {
          if (res.data.data.task_id !== parseFloat(res.data.data.task_id ,10)) {
            throw 'The response from the server did not return the Task ID. Operation terminated.'
          }
          this.uls_desc = `....calculating ULS metrics. taskID: ${res.data.data.task_id}`
          debugger
          this.$store.dispatch('studies/setTaskULS', { task_id_uls: res.data.data.task_id })
          this.interval_uls = setInterval(function() {
            this.fetchULS()
          }.bind(this), 30000)
          this.$notify({
            title: 'Calculation Submitted',
            message: `The calculation has been submitted with Task ID: ${this.task_id}. The system will try to fetch the results every 30sec.`,
            type: 'info'
          })
        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the system survivability ULS',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
          // this.$message.error('The system survivability for ULS could not be assessed');
        })
    },
    fetchULS() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/survivability_uls/${this.task_uls_id}`
      axios
        .get(path)
        .then(res => {

          if (res.data.task_status === 'finished') {
            console.log('TASK RESULTS ULS')
            var res = res.data.task_result
            debugger
            res.SK_Subsystem = res['SK Subsystem']
            res.ET_Subsystem = res['ET Subsystem']
            this.survivability_uls = res
            this.survivability_tab_uls()
            this.tabName = 'outputs'
            clearInterval(this.interval_uls)
          } else if (res.data.task_status === 'error') {
            debugger
            this.uls_desc = 'ULS task Error:' + res.data.task_message
            this.clearInterval(this.interval_uls)
            trow `${res.data.task_message}`
          } else if (res.data.task_status === 'queued') {
            this.uls_desc = '...ULS task QUEUED'
            console.log('QUEUED')
          } else if (res.data.task_status === 'started') {
            this.uls_desc = '...ULS task STARTED'
            console.log('STARTED')
          } else {
            debugger
          }
        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the system survivability ULS',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
          // this.$message.error('The system survivability for ULS could not be assessed');
        });
    },
    postFLS() {
      this.survivability_fls = null
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/survivability_fls`
      axios
        .post(path)
        .then(res => {
          if (res.data.data.task_id !== parseFloat(res.data.data.task_id ,10)) {
            throw 'The response from the server did not return the Task ID. Operation terminated.'
          }
          this.fls_desc = `....calculating FLS metrics. taskID: ${res.data.data.task_id}`
          debugger
          this.$store.dispatch('studies/setTaskFLS', { task_id_fls: res.data.data.task_id })
          this.interval_fls = setInterval(function() {
            this.fetchFLS()
          }.bind(this), 30000)
          this.$notify({
            title: 'Calculation Submitted',
            message: `The calculation has been submitted with Task ID: ${this.task_id}. The system will try to fetch the results every 30sec.`,
            type: 'info'
          })
        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the system survivability FLS',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
          // this.$message.error('The system survivability for ULS could not be assessed');
        });
    },
    fetchFLS() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/survivability_fls/${this.task_fls_id}`
      axios
        .get(path)
        .then(res => {
          if (res.data.task_status === 'finished') {
            console.log('TASK RESULTS FLS')
            debugger
            var res = res.data.task_result
            res.SK_Subsystem = res['SK Subsystem']
            res.ET_Subsystem = res['ET Subsystem']
            this.survivability_fls = res
            this.survivability_tab_fls()
            this.tabName = 'outputs'
            clearInterval(this.interval_fls)
          } else if (res.data.task_status === 'error') {
            debugger
            this.fls_desc = 'FLS task Error:' + res.data.task_message
            this.clearInterval(this.interval_fls)
            trow `${res.data.task_message}`
          } else if (res.data.task_status === 'queued') {
            this.fls_desc = '...FLS task QUEUED'
            console.log('QUEUED')
          } else if (res.data.task_status === 'started') {
            this.fls_desc = '...FLS task STARTED'
            console.log('STARTED')
          } else {
            debugger
          }
        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the system survivability FLS',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
          // this.$message.error('The system survivability forl FLS could not be assessed');
        });
    },
    survivability_tab_uls() {
      // debugger
      const d = this.survivability_uls
      this.table_data = [{'System Name': 'Station Keeping',
                          'Critical Component ID': d['SK_Subsystem'].device_id,
                          'Survivability': d['SK_Subsystem'].survival_uls},
                          {'System Name': 'Energy Transformation',
                          'Critical Component ID': d['ET_Subsystem'].device_id,
                          'Survivability': d['ET_Subsystem'].survival_uls},
                          ]
      this.uls_available = true
    },
    survivability_tab_fls() {
      // debugger
      const d = this.survivability_fls
      this.table_data_fls = [{'System Name': 'Station Keeping',
                          'Critical Component ID': d['SK_Subsystem'].device_id,
                          'Survivability': d['SK_Subsystem'].survival_fls},
                          {'System Name': 'Energy Transformation',
                          'Critical Component ID': d['ET_Subsystem'].device_id,
                          'Survivability': d['ET_Subsystem'].survival_fls},
                          ]
      this.fls_available = true
    },
    saveData() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/${this.provider}`;
      const payload = this.jsonData[this.input_module]
      console.log(path, payload)
      // debugger
      axios
        .post(path, payload)
        .then(res => {
          this.$message.success('JSON file save to DB successfully');
          this.drawer = false;
          this.activeNames = ['1']
        })
        .catch(error => {
          console.error(error);
          this.$message.error('JSON file not saved to DB');
        });
    },
    uploadJSON(provider) {
      // openDrawer with upload
      this.input_module = provider
      this.drawer = true
    },
    handleDrop(e) {
      e.stopPropagation()
      e.preventDefault()
      if (this.loading) return
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$message.error('Only support uploading one file!')
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
      e.stopPropagation()
      e.preventDefault()
    },
    handleDragover(e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleUpload() {
      this.$refs['json-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
    },
    upload(rawFile) {
      this.$refs['json-upload-input'].value = null // fix can't select the same json
      this.readerData(rawFile)
    },
    readerData(rawFile) {
      this.loading = true
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = e => {
          const result = JSON.parse(e.target.result);
          this.jsonData[this.input_module] = result;
          // this.jsonString = JSON.stringify(result, null, 2);
          this.$message.success('JSON file decoded successfully');
          this.saveData();
          this.loading = false;
          resolve()
        }
        reader.readAsText(rawFile)
      })
    },
    isJSON(file) {
      return /\.(json|jsn|jscsrc)$/.test(file.name)
    }
  }
};
</script>


<style scoped>
.json-upload-input{
  display: none;
  z-index: -9999;
}
.drop{
  border: 2px dashed #bbb;
  width: auto;
  height: 160px;
  line-height: 160px;
  margin: 20px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
</style>
