<template>
  <div>
    <span style="visibility: hidden">{{ projectStructure }}</span>
    <EntityTitle/>
    <h1 style="margin-left:30px">Reliability</h1>
    <el-tabs v-model="tabName" type="border-card" style="margin: 20px">
      <el-tab-pane label="Inputs" name="inputs">

        <!-- <el-card> -->
          <!-- <div slot="header">
            <el-button v-if="sk_entity_id==null" icon="el-icon-check" @click="uploadJSON('sk')" round data-cy="read_JSON_r">Upload SK</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchSK" round data-cy="read_JSON_r">Fetch SK</el-button>
            <el-button v-if="ed_entity_id==null" icon="el-icon-check" @click="uploadJSON('ed')" round data-cy="read_JSON_r">Upload ED</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchED" round data-cy="read_JSON_r">Fetch ED</el-button>
            <el-button v-if="et_entity_id==null" icon="el-icon-check" @click="uploadJSON('et')" round data-cy="read_JSON_r">Upload ET</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchET" round data-cy="read_JSON_r">Fetch ET</el-button>
            <el-button icon="el-icon-close" @click="calculateR" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div> -->
          <el-dialog
            title="Tips"
            :visible.sync="dialogVisible"
            width="30%">
            <span>The system reliability calculation might require 2-5 minutes. We are working to improve the user experience,
              for the time being you cannot leave the page until the calculation is finished. You can check the reliability component results in the mean while, but refreshing or changing page will delete the request.</span>
              <span>Do you want to proceed?</span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogVisible = false">No</el-button>
              <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
            </span>
          </el-dialog>
          <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
            <h3>Average Waiting Time (hours):</h3>
            <!-- <el-col :span="6"><h3>Average Waiting Time - </h3></el-col> -->
            <!-- <el-col :span="4"> -->
              <el-input-number v-model="watingTime" :min="0" :precision="2"></el-input-number>
              <!-- <el-select v-model="watingTime" placeholder="Select">
                <el-option
                  v-for="item in 50"
                  :key="item"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select> -->

            <!-- </el-col> -->
            <div style="width:20%"></div>
            <!-- <el-col :span="2">hours</el-col> -->
            <h3>Number of Simulation </h3>
            <!-- <el-col :span="8"><h3>Number of Simulation - </h3></el-col> -->
            <!-- <el-col :span="4"> -->
              <el-input-number v-model="n_sim" :min="2"></el-input-number>
            <!-- </el-col> -->


            <el-drawer
              title=""
              :visible.sync="drawer"
              direction="rtl">
              <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
              <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
                Drop json file here or
                <el-button :loading="loading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
                  Browse
                </el-button>
              </div>
            </el-drawer>
          </div>
        <!-- </el-card> -->
        <el-card>
          <div slot="header">
            <el-button v-if="sk_entity_id==null" icon="el-icon-check" @click="uploadJSON('sk')" round data-cy="read_JSON_r">Upload SK</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchSK" round data-cy="read_JSON_r">Fetch SK</el-button>
            <el-button v-if="ed_entity_id==null" icon="el-icon-check" @click="uploadJSON('ed')" round data-cy="read_JSON_r">Upload ED</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchED" round data-cy="read_JSON_r">Fetch ED</el-button>
            <el-button v-if="et_entity_id==null" icon="el-icon-check" @click="uploadJSON('et')" round data-cy="read_JSON_r">Upload ET</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchET" round data-cy="read_JSON_r">Fetch ET</el-button>
            <el-button icon="el-icon-close" @click="calculateR" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div>
          <div style="margin-bottom: 20px">
            <el-col :span="8">
              <json-view :data="jsonData.sk" rootKey="SK Hierarchy" />
            </el-col>
            <el-col :span="8">
              <json-view :data="jsonData.ed" rootKey="ED Hierarchy" />
            </el-col>
            <el-col :span="8">
              <json-view :data="jsonData.et" rootKey="ET Hierarchy" />
            </el-col>
          </div>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="Outputs" name="outputs">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="System Reliability" name="2">
             <el-alert v-if="!r_s_available"
              title="System Relability Results"
              type="info"
              :description="r_s_desc"
              show-icon>
            </el-alert>
            <div v-else>
              <Plotly :data="ttf_data" :layout="ttf_layout"></Plotly>
              <Plotly :data="bar_data" :layout="pof_layout"></Plotly>
            </div>
            <!-- <bar-chart :bar_chart_data="bar_data"></bar-chart> -->
          </el-collapse-item>
          <el-collapse-item title="Components Reliability" name="3">
             <el-alert v-if="!r_c_available"
              title="Components Reliability Results"
              type="info"
              description="components reliability results not available"
              show-icon>
            </el-alert>
            <el-tabs v-else v-model="activeName">
              <el-tab-pane label="Energy Delivery" name="first">
                <el-table
                  :data="table_data.ed"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane label="Energy Transformation" name="second">
                 <el-table
                  :data="table_data.et"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane label="Station Keeping" name="third">
                <el-table
                  :data="table_data.sk"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
            </el-tabs>
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
    </el-tabs>

    <!-- <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <el-card>
          <div slot="header">
            <el-button v-if="sk_entity_id==null" icon="el-icon-check" @click="uploadJSON('sk')" round data-cy="read_JSON_r">Upload SK</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchSK" round data-cy="read_JSON_r">Fetch SK</el-button>
            <el-button v-if="ed_entity_id==null" icon="el-icon-check" @click="uploadJSON('ed')" round data-cy="read_JSON_r">Upload ED</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchED" round data-cy="read_JSON_r">Fetch ED</el-button>
            <el-button v-if="et_entity_id==null" icon="el-icon-check" @click="uploadJSON('et')" round data-cy="read_JSON_r">Upload ET</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchET" round data-cy="read_JSON_r">Fetch ET</el-button>
            <el-button icon="el-icon-close" @click="calculateR" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div>
          <el-dialog
            title="Tips"
            :visible.sync="dialogVisible"
            width="30%">
            <span>The system reliability calculation might require 2-5 minutes. We are working to improve the user experience,
              for the time being you cannot leave the page until the calculation is finished. You can check the reliability component results in the mean while, but refreshing or changing page will delete the request.</span>
              <span>Do you want to proceed?</span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="dialogVisible = false">No</el-button>
              <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
            </span>
          </el-dialog>
          <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
            <h3>Average Waiting Time (hours):</h3>
              <el-input-number v-model="watingTime" :min="0" :precision="2"></el-input-number>
            <div style="width:20%"></div>
            <h3>Number of Simulation </h3>
              <el-input-number v-model="n_sim" :min="2"></el-input-number>


            <el-drawer
              title=""
              :visible.sync="drawer"
              direction="rtl">
              <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
              <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
                Drop json file here or
                <el-button :loading="loading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
                  Browse
                </el-button>
              </div>
            </el-drawer>
          </div>
        </el-card>
      </el-col>
    </el-row> -->
    <!-- <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="Input Summary" name="1">
            <el-col :span="8">
              <json-view :data="jsonData.sk" rootKey="SK Hierarchy" />
            </el-col>
            <el-col :span="8">
              <json-view :data="jsonData.ed" rootKey="ED Hierarchy" />
            </el-col>
            <el-col :span="8">
              <json-view :data="jsonData.et" rootKey="ET Hierarchy" />
            </el-col>
          </el-collapse-item>
          <el-collapse-item title="System Reliability" name="2">
            <Plotly :data="ttf_data" :layout="ttf_layout"></Plotly>
            <Plotly :data="bar_data" :layout="pof_layout"></Plotly>
          </el-collapse-item>
          <el-collapse-item title="Components Reliability" name="3">
            <el-tabs v-model="activeName">
              <el-tab-pane label="Energy Delivery" name="first">
                <el-table
                  :data="table_data.ed"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane label="Energy Transformation" name="second">
                 <el-table
                  :data="table_data.et"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane label="Station Keeping" name="third">
                <el-table
                  :data="table_data.sk"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
            </el-tabs>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row> -->
    <div>

    </div>
  </div>

</template>


<script>
import axios from "axios"
import _ from 'lodash'
import mixin from "../../mixin.js"
// import BarChart from "@/components/BarChart";
import { Plotly } from 'vue-plotly'
import EntityTitle from '@/components/EntityTitle'


export default {
  mixins: [mixin],
  components: { Plotly, EntityTitle },
  beforeDestroy: function() {
    clearInterval(this.interval)
  },
  computed: {
    projectStructure() {
      try {
        let prj_str = this.$store.getters.project_structure
        let study = prj_str.filter((s) => {return s.moduleId==9})
        if (study.length == 0) {
          throw {message: 'RAMS module entity not registered in the study. Please go the Main Module and verify the module registration.'}
        }
        var entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==5})
        this.ed_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==4})
        this.et_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==6})
        this.sk_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==7})
        this.lmo_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        this.standalone = false

        console.log('INTEGRATION DEBUG')
        if ([this.ed_entity_id, this.et_entity_id, this.sk_entity_id, this.lmo_entity_id].some((id) => id === null)) {
          this.$notify.warning({
          title: 'Warning',
          message: 'One or more RAMS provider are not registered in the Main Module. It is possible to upload data in the GUI, or go to the Main Module and register the missing module(s).'
        })
        }
      } catch (error) {
        this.$notify.error({
          title: 'Error',
          message: error.message
        })
        this.standalone = true
      }
      return this.$store.getters.project_structure
    },
    studyId() {
      return this.$store.getters.studyId
    },
    provider() {
      if (this.input_module == 'ed') {
        return 'ed/complexity1'
      } else if (this.input_module == 'sk') {
        return 'sk/hierarchy/complexity1'
      } else if (this.input_module == 'et') {
        return 'et/hierarchy/complexity1'
      }else {
        return ''
      }
    },
    calculate() {
      if (this.jsonData.ed && this.jsonData.sk && this.jsonData.et) {
        return false
      }
      return true
    },
    task_id() {
      return this.$store.getters.task_id_relaibility
    }
  },
  data() {
    return {
      r_s_desc: "system reliability results not available",
      r_s_available: false,
      r_c_available: false,
      interval: null,
      tabName: "inputs",
      dialogVisible: false,
      standalone: true,
      ed_entity_id: null,
      et_entity_id: null,
      sk_entity_id: null,
      lmo_entity_id: null,
      columns: ['id', 'mttf', 'max_ttf', 'std_ttf'],
      activeName: 'first',
      input_module: '',
      reliability_components: null,
      reliability_system: null,
      watingTime: null,
      n_sim: 10000,
      lifeTime: null,
      activeNames: [],
      drawer: false,
      loading: false,
      jsonData: {ed: null, sk: null, et: null},
      bar_data: [],
      table_data: {ed: [], et: [], sk: []},
      ttf_data: [],
      ttf_layout: {
        title: 'Time to Failure'
      },
      pof_layout: {
        title: 'Probability of Failures'
      }
    }
  },
  created() {
    this.getReliabilityInputs()
    this.getReliabilityResults()
  },
  methods: {
    fetchSK() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/sk/hierarchy/complexity1`;
      axios
        .post(path, {"entity_sk_id": this.sk_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getReliabilityInputs();
        })
        .catch(error => {
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    fetchED() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/ed/complexity1`;
      axios
        .post(path, {"entity_ed_id": this.ed_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getReliabilityInputs();
        })
        .catch(error => {
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    fetchET() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/et/hierarchy/complexity1`;
      axios
        .post(path, {"entity_et_id": this.et_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getReliabilityInputs();
        })
        .catch(error => {
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    getReliabilityResults() {
      const path = `${process.env.VUE_APP_API_URL}/rams/results_summary/${this.studyId}`
      axios
        .get(path)
        .then(res => {
          debugger
          var r_s = res.data.reliability_system
          var r_c = res.data.reliability_component
          // check system reliability results
          if (_.isEmpty(r_s)) {
            this.r_s_available = false
            // if the task id is availble the calculation has been submitted
            // so set the fetch interval and change the notification message
            if ( this.task_id != null ) {
              this.interval = setInterval(function() {
                this.reliabilitySystem()
              }.bind(this), 30000)
              this.r_s_desc = 'calculation has been submitted but the results are not available yet!'
              this.tabName = "outputs"
            }
            this.r_s_desc = "system reliability results not available"
          } else {
            this.r_s_available = true
            this.reliability_system = r_s
            this.activeNames = ['2']
            this.reliability_bar()
            this.tabName = "outputs"
          }
          // check component reliability results
          if (_.isEmpty(r_c)) {
            this.r_c_available = false
          } else {
            this.r_c_available = true
            this.reliability_components = r_c
            this.activeNames = ['3']
            this.reliability_table()
            this.tabName = "outputs"
          }
        })
        .catch(error => {
          debugger
          this.$notify({
            title: "An error occured while fetching the entity's results from the DB",
            message: `${error}`,
            type: 'error'
          })
        })
    },
    getReliabilityInputs() {
      if (this.studyId !== parseInt(this.studyId, 10)) {
        this.$message.error('Invalid Project ID, redirecting to the project List');
        this.$router.push({ name: "RamsStudiesIndex" });
      } else {
        const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}`;
        axios
          .get(path)
          .then(res => {
            debugger
            var d = res.data;
            var e = '';
            // if (res.data !== Object(res.data)) {
            //   d = eval("(" + res.data + ")");
            // }
            if (_.isEmpty(d.hierarchy_sk) && _.isEmpty(d.hierarchy_sk) && _.isEmpty(d.hierarchy_et)) {
              e += 'Missing SK, ED and ET hierarchies for system and components\n';
            } else {
              if (_.isEmpty(d.hierarchy_sk)) {
                e += 'Missing SK hierarchy for system and components';
              }
              if (_.isEmpty(d.hierarchy_ed)) {
                e += 'Missing ED hierarchy for system and components';
              }
              if (_.isEmpty(d.hierarchy_et)) {
                e += 'Missing ET hierarchy for system and components';
              }
            }
            this.n_sim = d.n_sim_reliability;
            if (this.n_sim < 2){
              this.n_sim=2
            }
            this.watingTime = d.downtime;
            this.jsonData.sk = d.hierarchy_sk;
            this.jsonData.ed = d.hierarchy_ed;
            this.jsonData.et = d.hierarchy_et;
            this.lifeTime = d.lifetime;
            if (e != ''){
              throw e;
            }
            // this.$message.success('Input file loaded from DB');
            this.activeNames = ['1']
          })
          .catch(error => {
            debugger
            this.$notify({
              title: "An error occured while fetching the entity's inputs from the DB",
              message: `${error}`,
              type: 'error'
            });
          });
      }
    },
    calculateR() {
      if (this.watingTime !== parseFloat(this.watingTime,10) || parseFloat(this.watingTime,10) <= 0) {
        this.$message.warning('Select a wating time and re-submit the calculation')
      } else {

        axios.all([
          // this.request1(),
          this.request2()
        ])
        .then(axios.spread((first_response) => {
          this.$message.success(first_response.data)
          this.reliabilityComponents()
          this.postReliabilitySystemCalculation()
          this.tabName = 'outputs'
        }))
        .catch(error => {
          this.$notify({
            title: 'An error occured while fetching the entity from the DB',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
        });
      }
    },
    // request1() {
    //   const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/lmo/maintenance/complexity1`;
    //   var payload = {"mttr": 1, "downtime": [this.watingTime], "technologies": 'test'};
    //   return axios.post(path, payload)
    // },
    request2() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/reliability/user_defined`
      var payload = {"n_sim_reliability": this.n_sim, "downtime": this.watingTime}
      return axios.post(path, payload)
    },
    reliabilityComponents() {
      this.reliability_components = null
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/reliability_component/${this.lifeTime}`
      axios
        .get(path)
        .then(res => {
          debugger
          this.reliability_components = res.data;
          this.reliability_table();
          this.activeNames = ['3']
          this.tabName = 'outputs'
        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the components reliability',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          })
          // this.$message.error('The components reliability could not be assessed');
        })
    },
    postReliabilitySystemCalculation() {
      this.reliability_system = null
      this.$confirm('The system reliability calculation might require 2-5 minutes. We are working to improve the user experience, for the time being you cannot leave the page until the calculation is finished. You can check the reliability component results in the mean while, but refreshing or changing page will delete the request. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/reliability_system/task/${this.lifeTime}`;
          axios
            .post(path)
            // .post(path, {timeout: 300000})
            .then(res => {
              debugger
              if (res.data.data.task_id !== parseFloat(res.data.data.task_id ,10)) {
                throw 'The response from the server did not return the Task ID. Operation terminated.'
              }
              this.$store.dispatch('studies/setTaskReliability', { task_id_relaibility: res.data.data.task_id })
              this.interval = setInterval(function() {
                this.reliabilitySystem()
              }.bind(this), 30000)
              this.$notify({
                title: 'Calculation Submitted',
                message: `The calculation has been submitted with Task ID: ${this.task_id}. The system will try to fetch the results every 30sec.`,
                type: 'info'
              })
            })
            .catch(error => {
              this.$notify({
                title: 'Cannot assess the system reliability',
                message: `${error.message}: ${error.response.data.message}`,
                type: 'error'
              });
              // this.$message.error(error);
            });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Action canceled'
          })
        })
    },
    reliabilitySystem() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/reliability_system/${this.task_id}`
      axios
        .get(path)
        .then(res => {

          if (res.data.task_status === 'finished') {
            console.log('TASK RESULTS')
            this.reliability_system = res.data.task_result
            this.reliability_bar()
            this.$message.success('System Reliability Assessed')
            this.activeNames = ['2']
            this.tabName = 'outputs'
            clearInterval(this.interval)
          } else if (res.data.task_status === 'error') {
            debugger
            trow `${res.data.task_message}`
          } else if (res.data.task_status === 'queued') {
            console.log('QUEUED')
          } else if (res.data.task_status === 'started') {
            console.log('STARTED')
          } else {
            debugger
          }

        })
        .catch(error => {
          this.$notify({
            title: 'Cannot assess the system reliability',
            message: `${error.message}: ${error.response.data.message}`,
            type: 'error'
          });
          // this.$message.error(error);
        });
    },
    reliability_bar() {
      debugger
      const d = this.reliability_system
      this.bar_data = [
        {
          type: 'bar',
          y: ['ed', 'et', 'sk', 'array'],
          x: [d.max_annual_pof_ed,d.max_annual_pof_et,d.max_annual_pof_sk,d.max_annual_pof_array],
          name: 'max pof',
          orientation: 'h'
        }
      ]
      var sig = 2;
      var mean = 0;
      var max = 1;
      for (var i of ['ED', 'ET', 'SK', 'Array']){
        mean = d[`mttf_${i.toLowerCase()}`];
        sig = d[`std_ttf_${i.toLowerCase()}`];
        max = d[`max_ttf_${i.toLowerCase()}`];
        var x_val = [max]
        for (let j of [...Array(100).keys()]){
          x_val.push(sig*(Math.random()-0.5)+mean)
        }
        this.ttf_data.push({
          x: x_val,
          type: 'box',
          name: i
        })
      }
      this.bar_ttf = [
        {
          type: 'bar',
          y: ['ed', 'et', 'sk', 'array'],
          x: [d.mttf_ed,d.mttf_et,d.mttf_sk,d.mttf_array],
          name: 'mttf',
          orientation: 'h'
        },
      ]
      this.r_s_available = true
    },
    reliability_table() {
      const data = this.reliability_components;
      const ED = data['ED_subsystem'];
      const ET = data['ET_subsystem'];
      const SK = data['SK_subsystem'];
      for (let i=0; i<ED.component_id.length; i++){
        this.table_data.ed.push({id: ED.component_id[i],
                         mttf: ED.mttf[i],
                         max_ttf: ED.max_ttf[i],
                         std_ttf: ED.std_ttf[i]})
                        //  t_failure: ED.ts_failure_event[i]})
      };
      for (let i=0; i<ET.component_id.length; i++){
        this.table_data.et.push({id: ET.component_id[i],
                         mttf: ET.mttf[i],
                         max_ttf: ET.max_ttf[i],
                         std_ttf: ET.std_ttf[i]})
      };
      for (let i=0; i<SK.component_id.length; i++){
        this.table_data.sk.push({id: SK.component_id[i],
                         mttf: SK.mttf[i],
                         max_ttf: SK.max_ttf[i],
                         std_ttf: SK.std_ttf[i]})
      }

      this.r_c_available = true
    },
    saveData() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/${this.provider}`;
      const payload = this.jsonData[this.input_module]
      axios
        .post(path, payload)
        .then(res => {
          this.$message.success('JSON file save to DB successfully');
          this.drawer = false;
          this.activeNames = ['1']
        })
        .catch(error => {
          console.error(error);
          this.$message.error('JSON file not saved to DB');
        });
    },
    uploadJSON(provider) {
      // openDrawer with upload
      this.input_module = provider
      this.drawer = true
    },
    handleDrop(e) {
      e.stopPropagation()
      e.preventDefault()
      if (this.loading) return
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$message.error('Only support uploading one file!')
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
      e.stopPropagation()
      e.preventDefault()
    },
    handleDragover(e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleUpload() {
      this.$refs['json-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
    },
    upload(rawFile) {
      this.$refs['json-upload-input'].value = null // fix can't select the same json
      this.readerData(rawFile)
    },
    readerData(rawFile) {
      this.loading = true
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = e => {
          const result = JSON.parse(e.target.result);
          this.jsonData[this.input_module] = result;
          // this.jsonString = JSON.stringify(result, null, 2);
          this.$message.success('JSON file decoded successfully');
          this.saveData();
          this.loading = false;
          resolve()
        }
        reader.readAsText(rawFile)
      })
    },
    isJSON(file) {
      return /\.(json|jsn|jscsrc)$/.test(file.name)
    }
  }
};
</script>


<style scoped>
.json-upload-input{
  display: none;
  z-index: -9999;
}
.drop{
  border: 2px dashed #bbb;
  width: auto;
  height: 160px;
  line-height: 160px;
  margin: 20px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
</style>
