<template>
  <div>
    <span style="visibility: hidden">{{ projectStructure }}</span>
    <EntityTitle/>
    <h1 style="margin-left:30px">Maintainability</h1>

    <el-tabs v-model="tabName" type="border-card" style="margin: 20px">
      <el-tab-pane label="Inputs" name="inputs">
        <el-table :data="data_m" stripe="stripe">
          <el-table-column label="Specific Time ">
              <template slot-scope="scope">
                  <el-input-number v-model="scope.row.t_ava_repair" :min="0" :precision="2" size="mini" controls-position="right" />
              </template>
          </el-table-column>
          <el-table-column label="Probability Distribution">
              <template slot-scope="scope">
                <el-select v-model="scope.row.pd_t_repair" placeholder="Select">
                  <el-option
                    v-for="item in pd_options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </template>
          </el-table-column>
          <el-table-column label="Standard Deviation">
            <template slot-scope="scope">
                  <el-input-number v-model="scope.row.std_t_repair" :min="0" :precision="2" size="mini" controls-position="right" />
              </template>
          </el-table-column>
        </el-table>
        <el-card>
          <div slot="header">
            <el-button v-if="lmo_entity_id==null" icon="el-icon-check" @click="uploadJSON('lmo')" round data-cy="read_JSON_r">Upload LMO</el-button>
            <el-button v-else icon="el-icon-check" @click="fetchLMO" round data-cy="read_JSON_r">Fetch LMO</el-button>
            <el-button icon="el-icon-close" @click="calculateM" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div>
          <div>
             <el-drawer
              title=""
              :visible.sync="drawer"
              direction="rtl">
              <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
              <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
                Drop json file here or
                <el-button :loading="loading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
                  Browse
                </el-button>
              </div>
            </el-drawer>
            <json-view :data="jsonData" rootKey="LMO maitenance" />
          </div>
        </el-card>
      </el-tab-pane>
      <el-tab-pane label="Outputs" name="outputs">
        <el-table
          :data="table_data"
          style="width: 100%">
          <el-table-column v-for="column in columns"
                      :key="column"
                      :prop="column"
                      :label="column">
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>

    <!-- <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <h1>Maintainability study ID - {{studyId}}</h1>
        <el-card>
          <div slot="header">
            <el-button icon="el-icon-check" @click="uploadJSON('lmo')" round data-cy="read_JSON_r">Upload LMO</el-button>
            <el-button icon="el-icon-close" @click="calculateM" round :disabled="calculate" style="float: right">Calculate</el-button>
          </div>
          <div>
            <el-table :data="data_m" stripe="stripe">
              <el-table-column label="Specific Time ">
                  <template slot-scope="scope">
                      <el-input-number v-model="scope.row.t_ava_repair" :min="0" :precision="2" size="mini" controls-position="right" />
                  </template>
              </el-table-column>
              <el-table-column label="Probability Distribution">
                  <template slot-scope="scope">
                    <el-select v-model="scope.row.pd_t_repair" placeholder="Select">
                      <el-option
                        v-for="item in pd_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                      </el-option>
                    </el-select>
                  </template>
              </el-table-column>
              <el-table-column label="Standard Deviation">
                <template slot-scope="scope">
                      <el-input-number v-model="scope.row.std_t_repair" :min="0" :precision="2" size="mini" controls-position="right" />
                  </template>
              </el-table-column>
            </el-table>
            <el-drawer
              title=""
              :visible.sync="drawer"
              direction="rtl">
              <input ref="json-upload-input" class="json-upload-input" type="file" accept=".json, .jsn, .jscsrc" @change="handleClick">
              <div class="drop" @drop="handleDrop" @dragover="handleDragover" @dragenter="handleDragover">
                Drop json file here or
                <el-button :loading="loading" style="margin-left:16px;" size="mini" type="primary" @click="handleUpload">
                  Browse
                </el-button>
              </div>
            </el-drawer>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="22" :offset="1">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="Input Summary" name="1">
            <json-view :data="jsonData" rootKey="LMO maitenance" />
          </el-collapse-item>
          <el-collapse-item title="System Maintainability" name="2">
            <el-table
                  :data="table_data"
                  style="width: 100%">
                  <el-table-column v-for="column in columns"
                              :key="column"
                              :prop="column"
                              :label="column">
                  </el-table-column>
                </el-table>
          </el-collapse-item>
        </el-collapse>
      </el-col>
    </el-row> -->
    <div>

    </div>
  </div>

</template>


<script>
import axios from "axios";
import _ from 'lodash';
import mixin from "../../mixin.js"
import BarChart from "@/components/BarChart"
import EntityTitle from '@/components/EntityTitle'

export default {
  mixins: [mixin],
  components: { EntityTitle },
  data() {
    return {
      pd_options: [{value: 'Gaussian', label: 'Gaussian'},
                   {value: 'Exponential', label: 'Exponential'},
                   {value: 'LogNormal', label: 'LogNormal'}],
      data_m: [{pd_t_repair: 'Gaussian', t_ava_repair: 0, std_t_repair: 0}],
      columns: ['Critical Component ID', 'Maintainability'],
      activeNames: [],
      input_module: '',
      maintainability: null,
      drawer: false,
      loading: false,
      jsonData: {},
      table_data: [],
      standalone: true,
      ed_entity_id: null,
      et_entity_id: null,
      sk_entity_id: null,
      lmo_entity_id: null,
      tabName: "inputs"
    }
  },
  created() {
    this.getMaintainabilityInputs()
    this.getMaintainabilityResults()
  },
  computed: {
    projectStructure() {
      try {
        debugger
        let prj_str = this.$store.getters.project_structure
        let study = prj_str.filter((s) => {return s.moduleId==9})
        if (study.length == 0) {
          throw {message: 'RAMS module entity not registered in the study. Please go the Main Module and verify the module registration.'}
        }
        var entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==5})
        this.ed_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==4})
        this.et_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==6})
        this.sk_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==7})
        this.lmo_entity_id = ( entity.length>=1 ) ? ( entity[0].entityId ) : ( null )
        this.standalone = false

        console.log('INTEGRATION DEBUG')
        if ([this.ed_entity_id, this.et_entity_id, this.sk_entity_id, this.lmo_entity_id].some((id) => id === null)) {
          this.$notify.warning({
          title: 'Warning',
          message: 'One or more RAMS provider are not registered in the Main Module. It is possible to upload data in the GUI, or go to the Main Module and register the missing module(s).'
        })
        }
      } catch (error) {
        this.$notify.error({
          title: 'Error',
          message: error.message
        })
        this.standalone = true
      }
      return this.$store.getters.project_structure
    },
    calculate() {
      if (_.isEmpty(this.jsonData)) {
        return true
      }
      return false
    }
  },
  methods: {
    fetchLMO() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/lmo/maintenance/complexity1`;
      axios
        .post(path, {"entity_lmo_id": this.lmo_entity_id})
        .then(res => {
          console.log('INTEGRATION', res)
          this.getMaintainabilityInputs();
        })
        .catch(error => {
          debugger
          console.error('MOUNTBANK', error);
          this.$notify.error({
            title: error.response.data.status,
            message: error.response.data.message
          });
        });
    },
    getMaintainabilityResults() {
      const path = `${process.env.VUE_APP_API_URL}/rams/results_summary/${this.studyId}`;
      axios
        .get(path)
        .then(res => {
          var d = res.data;
          if (_.isEmpty(d.maintainability)) {
            throw 'Maintainability calculation not estimated yet';
          } else {
            // debugger
            this.activeNames = ['2']
            this.maintainability = d.maintainability
            this.maintainability_tab()
            this.tabName = 'outputs'
          }
        })
        .catch(error => {
          // this.$message.error(error);
          console.log(error)
        });
    },
    getMaintainabilityInputs() {
      if (this.studyId !== parseInt(this.studyId, 10)) {
        this.$message.error('Invalid Project ID, redirecting to the project List');
        this.$router.push({ name: "RamsStudiesIndex" });
      } else {
        const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}`;
        axios
          .get(path)
          .then(res => {
            debugger
            var d = res.data;
            if (res.data !== Object(res.data)) {
              d = eval("(" + res.data + ")");
            }
            if (_.isEmpty(d.lmo_maintenance)) {
              throw 'Missing maintenance definition for the system';
            }
            this.jsonData = d.lmo_maintenance;
            // this.$message.success('Input file loaded from DB');
            this.activeNames = ['1']
            this.data_m[0].pd_t_repair = d.pd_t_repair
            this.data_m[0].t_ava_repair = d.t_ava_repair
            this.data_m[0].std_t_repair = d.std_t_repair
          })
          .catch(error => {
            //this.$message.error(error);
            console.log(error)
          });
      }
    },
    calculateM() {
      var path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/maintainability/user_defined`;
      var payload = this.data_m[0]
      axios
        .post(path, payload)
        .then(res => {
          // debugger
          path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/maintainability/${this.data_m[0].t_ava_repair}`;
          axios
            .get(path)
            .then(res => {
              // debugger
              this.maintainability = res.data;
              this.maintainability_tab();
              // this.$message.success('System Maintainability Assessed');
              this.tabName = 'outputs'
            })
            .catch(error => {
              this.$notify({
                title: 'Cannot assess the system mantainability',
                message: `${error.message}: ${error.response.data.message}`,
                type: 'error'
              });
            });
      })
      .catch(error => {
        // debugger
        this.$message.error(str(error));
      });
    },
    maintainability_tab() {
      const d = this.maintainability
      // debugger
      this.table_data = [{'Critical Component ID': d.critical_component,
                         'Maintainability': d.probability_maintenance[0]}]
    },
    saveData() {
      const path = `${process.env.VUE_APP_API_URL}/rams/${this.studyId}/inputs/lmo/maintenance/complexity1`;
      const payload = this.jsonData
      axios
        .post(path, payload)
        .then(res => {
          // this.$message.success('JSON file save to DB successfully');
          this.drawer = false;
          this.activeNames = ['1']
        })
        .catch(error => {
          console.error(error);
          this.$message.error('JSON file not saved to DB');
        });
    },
    uploadJSON(provider) {
      // openDrawer with upload
      this.input_module = provider
      this.drawer = true
    },
    handleDrop(e) {
      e.stopPropagation()
      e.preventDefault()
      if (this.loading) return
      const files = e.dataTransfer.files
      if (files.length !== 1) {
        this.$message.error('Only support uploading one file!')
        return
      }
      const rawFile = files[0] // only use files[0]
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
      e.stopPropagation()
      e.preventDefault()
    },
    handleDragover(e) {
      e.stopPropagation()
      e.preventDefault()
      e.dataTransfer.dropEffect = 'copy'
    },
    handleUpload() {
      this.$refs['json-upload-input'].click()
    },
    handleClick(e) {
      const files = e.target.files
      const rawFile = files[0] // only use files[0]
      if (!rawFile) return
      if (!this.isJSON(rawFile)) {
        this.$message.error('Only supports upload .json, .jsn suffix files')
        return false
      }
      this.upload(rawFile)
    },
    upload(rawFile) {
      this.$refs['json-upload-input'].value = null // fix can't select the same json
      this.readerData(rawFile)
    },
    readerData(rawFile) {
      this.loading = true
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = e => {
          const result = JSON.parse(e.target.result);
          this.jsonData = result;
          // this.jsonString = JSON.stringify(result, null, 2);
          // this.$message.success('JSON file decoded successfully');
          console.log('JSON file decoded successfully')
          this.saveData();
          this.loading = false;
          resolve()
        }
        reader.readAsText(rawFile)
      })
    },
    isJSON(file) {
      return /\.(json|jsn|jscsrc)$/.test(file.name)
    }
  }
};
</script>


<style scoped>
.json-upload-input{
  display: none;
  z-index: -9999;
}
.drop{
  border: 2px dashed #bbb;
  width: auto;
  height: 160px;
  line-height: 160px;
  margin: 20px;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
</style>
