<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><b>Name of Study: </b> <span data-cy-sg="title">{{ studyData.name }}</span></p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
      </el-header>
    </div>
    <br><br><br>
    <div>
      <el-main>
        <ul>
          <li>
            Activity Checklist
          </li>
          <ul>
            <el-button type="text" @click="openChecklist()" data-cy-sg="performLink"><u>Perform</u></el-button>
            <el-button type="text" @click="openChecklistResults()" :disabled="!studyData.checklist_study_complete"><u>View Results</u></el-button>
          </ul>
          <li>
            Stage Gate Assessment
          </li>
          <ul>
            <el-button type="text" @click="openApplicantHome()" data-cy-sg="startApplicantModeBtn"><u>Applicant Mode</u></el-button>
            <el-button type="text" @click="openAssessorHome()" data-cy-sg="startAssessorModeBtn"><u>Assessor Mode</u></el-button>
          </ul>
        </ul>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      sgStudyID: '',
      studyData: [],
    }
  },
  created() {
    this.sgStudyID = this.$route.params.study_id
    this.getSgStudy(this.sgStudyID)
  },
  methods: {
    openChecklist() {
      this.$router.push({ name: 'ChecklistInput', params: { study_data: this.studyData }})
    },
    openChecklistResults() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData }})
    },
    getSgStudy(sgStudyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgStudyID}`
      axios.get(path)
        .then((res) => {
          this.studyData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    openApplicantHome() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    openAssessorHome() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    }
  }
}
</script>
