<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ stageName }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row>
          <el-switch
            v-model="category"
            active-text="Evaluation Area"
            inactive-text="Activity Category"
            @change="activateData()"
          >
          </el-switch>
        </el-row>
        <br><br>
        <el-collapse v-model="activeNames">
          <el-collapse-item v-for="stageCat in stageData" :key="stageCat.name" :title="stageCat.name" :name="stageCat.name">
            <ul>
              <!-- <span v-html=stageCat.description></span> -->
              <el-collapse-item v-for="act in stageCat.activities" :key="act.name" :title="act.name" :name="act.name">
                <ul>
                  <li>
                    <p><b>Description:</b> <span v-html=act.description></span></p>
                  </li>
                  <br>
                  <el-checkbox :label=act.id :value=act.id v-model="selectedActivities"><b>Complete?</b></el-checkbox>
                </ul>
              </el-collapse-item>
            </ul>
          </el-collapse-item>
        </el-collapse>
        <br>
        <div>
          <el-row type="flex" justify="space-around">
            <el-col :span="6">
              <el-button
                icon="el-icon-arrow-left"
                :disabled="previousDisabled()"
                @click="previousStage()">Previous Stage</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="primary"
                data-cy-sg="saveButton"
                @click="onSaveChecklist()">Save</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="success"
                data-cy-sg="submitButton"
                @click="onSubmitChecklist()">Submit</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                :disabled="nextDisabled()"
                @click="nextStage()">Next Stage <i class="el-icon-arrow-right el-icon-right"></i></el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      framework_data: [],
      stage_idx: 0,
      end_idx: '',
      stage_uri: '',
      stageName: '',
      studyData: [],
      stageData: [],
      activeNames: [],
      selectedActivities: [],
      category: false
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.initialiseData(this.studyData.framework_id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    initialiseData(frameworkID) {
      const path = `${process.env.VUE_APP_API_URL}/api/frameworks/${frameworkID}`
      axios.get(path)
        .then((res) => {
          this.framework_data = res.data
          this.end_idx = this.framework_data.stages.length - 1
          this.stage_uri = res.data.stages[this.stage_idx]
          this.getStageData(this.stage_uri)
          this.getChecklistData(this.studyData.id)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageData(uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}`
      axios.get(path)
        .then((res) => {
          this.stageName = res.data.name
          this.stageData = res.data.activity_categories
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getChecklistData(studyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${studyID}/checklist-inputs`
      axios.get(path)
        .then((res) => {
          this.selectedActivities = res.data.completed_activities
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    getStageEvalData (uri) {
      const path = `${process.env.VUE_APP_API_URL}${uri}/eval`
      axios.get(path)
        .then((res) => {
          this.stageName = res.data.name
          this.stageData = res.data.evaluation_areas
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    activateData () {
      if (this.category) {
        this.getStageEvalData(this.stage_uri)
      } else  {
        this.getStageData(this.stage_uri)
      }
    },
    previousDisabled () {
      if (this.stage_idx == 0) {
        return true;
      } else {
        return false;
      }
    },
    nextDisabled () {
      if (this.stage_idx == this.end_idx) {
        return true;
      } else {
        return false;
      }
    },
    loadStage () {
      this.stage_uri = this.framework_data.stages[this.stage_idx]
      this.activateData()
    },
    previousStage () {
      this.stage_idx -= 1
      this.loadStage()
    },
    nextStage () {
      this.stage_idx += 1
      this.loadStage()
    },
    onSaveChecklist() {
      const payload = {
        completed_activities: this.selectedActivities
      }
      this.saveChecklist(payload, this.studyData.id)
    },
    onSubmitChecklist () {
      const payload = {
        completed_activities: this.selectedActivities
      }
      this.saveChecklist(payload, this.studyData.id)

      try {
        dtop.eventManager.emit('done'); //eslint-disable-line
      } catch (e) {
        console.log('Integration library is not available')
      }

      this.openResultsPage()
    },
    saveChecklist(payload, studyID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${studyID}/checklist-inputs`
      axios.put(path, payload)
        .then((res) => {
          this.$message({
            message: res.data.message,
            type: "success"
          })
        })
        .catch((error) => {
          //eslint-disable-next-line
          // console.error(error);
          this.$message({
            message: res.data,
            type: "error"
          })
        })
    },
    openResultsPage() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData } })
    }
  }
}
</script>
