<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <h1>Welcome to DTOceanPlus</h1>
      <h4>R.A.M.S tool v0.0.1</h4>
      <span>To initiate a study click on R.A.M.S. studies/List and click on "Add new project"</span>
      <h6>This is an initial user interface, please record all the errors or problem of usability and send the list to ff@civil.aau.dk</h6>
      </div>
</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'name'
    ])
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
