<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  watch: {
    '$route' (to, from) {
      document.title = 'R.A.M.S.'
    }
  },
  methods: {
    async insertPlugin() {
      return new Promise((resolve, reject) => {
        const script = document.createElement("script");
        script.onload = resolve;
        script.onerror = reject;
        script.src = "http://dtop.com/integration-resourses/connector.umd.js";
        script.setAttribute("id", "connector_script");
        document.getElementsByTagName("head")[0].appendChild(script);
      });
    }
  },
  async mounted() {
    await this.insertPlugin();

    try {
      dtop.eventManager.addEventListener("create", parameters => { //eslint-disable-line
        const providers = !parameters.providersIds ? null : JSON.stringify(parameters.providersIds);
        this.$router.replace(
          `/stage-gate-studies/index?entityAction=create&${providers ? `providersIds=${providers}` : ''}`
        );
      });
      dtop.eventManager.addEventListener("edit", parameters => { //eslint-disable-line
        this.$router.replace(`/stage-gate-studies/${parameters.id}`);
      });
      dtop.eventManager.addEventListener("delete", parameters => { //eslint-disable-line
        this.$router.replace(`/stage-gate-studies/index?entityAction=delete&id=${parameters.id}`);
      });
      dtop.eventManager.emit("ready"); //eslint-disable-line
    } catch (e) {
      console.log('Integration library is not available')
    }
  }
}
</script>
