<template>
  <div>
    <el-collapse v-model="activeNames">
      <el-collapse-item v-for="qCat in stageGateData" :key="qCat.name" :name="qCat.name" :title="qCat.name">
        <ul>
          <span v-html=qCat.description></span>
          <el-collapse-item v-for="q in qCat.questions" :key="q.name" :name="q.name" :title="q.name">
            <ul>
              <li>
                <p><b>Description:</b> <span v-html=q.description></span></p>
              </li>
              <li>
                <span><b>Weighting (%):</b> {{ q.weighting }}</span>
              </li>
              <li>
                <span><b>Scoring criteria:</b></span>
                <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                  <li>
                    <span>{{ sc.description }}</span>
                  </li>
                </ul>
              </li>
              <li v-if="q.question_metric">
                <span><b>Metric:</b></span>
                <ul>
                  <li>
                    <span><b>Name:</b> {{ q.question_metric.metric.name }}</span>
                  </li>
                  <li>
                    <span><b>Evaluation area:</b> {{ q.question_metric.metric.evaluation_area.name }}</span>
                  </li>
                  <li>
                    <span><b>Unit:</b> {{ q.question_metric.metric.unit }}</span>
                  </li>
                  <li v-if="q.question_metric.threshold_bool">
                    <span><b>Threshold:</b> {{ q.question_metric.threshold }}</span>
                  </li>
                </ul>
                <br>
                <el-button
                  size="mini"
                  type="warning"
                  :disabled="isDisabled(frameworkId)"
                  @click="editMetricThreshold(q.question_metric)">Update metric threshold</el-button>
              </li>
            </ul>
          </el-collapse-item>
        </ul>
      </el-collapse-item>
    </el-collapse>
    <el-dialog title="Update a metric threshold" :visible.sync="metricUpdateFormVisible">
      <el-form :model="updateMetricForm">
        <el-form-item label="Apply metric threshold?" :label-width="formLabelWidth">
          <el-checkbox v-model="updateMetricForm.threshold_bool"></el-checkbox>
        </el-form-item>
        <el-form-item label="Threshold" :label-width="formLabelWidth" type="number">
          <el-input-number v-model="updateMetricForm.threshold" @change="handleChange" autocomplete="off"></el-input-number>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="warning" @click="onSubmitUpdate" data-cy-sg="updateMetricThresholdBtn">Update</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'stageGateData',
    'frameworkId'
  ],
  data() {
    return {
      activeNames: [],
      updateMetricForm: {
        id: '',
        threshold: '',
        threshold_bool: true
      },
      metricUpdateFormVisible: false,
      formLabelWidth: '240px'
    };
  },
  methods: {
    refreshData() {
      this.$root.$emit('reloadData')
    },
    updateMetricThreshold (payload, questionMetricId) {
      const path = `${process.env.VUE_APP_API_URL}/api/question-metrics/${questionMetricId}`
      axios.put(path, payload)
        .then((response) => {
          this.refreshData()
          this.metricThresholdMessage('Question metric updated', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
          this.metricThresholdMessage(error.response.data.message.threshold[0], 'error')
        })
    },
    initForm () {
      this.updateMetricForm.id = ''
      this.updateMetricForm.threshold = ''
      this.updateMetricForm.threshold_bool = true
    },
    editMetricThreshold (row) {
      this.updateMetricForm.id = row.id
      this.updateMetricForm.threshold = row.threshold
      this.updateMetricForm.threshold_bool = row.threshold_bool
      this.metricUpdateFormVisible = true
    },
    onCancel () {
      this.metricUpdateFormVisible = false
      this.operationMessage('Operation cancelled')
      this.initForm()
    },
    onSubmitUpdate () {
      this.metricUpdateFormVisible = false
      const payload = {
        threshold: this.updateMetricForm.threshold,
        threshold_bool: this.updateMetricForm.threshold_bool
      }
      this.updateMetricThreshold(payload, this.updateMetricForm.id)
    },
    metricThresholdMessage (content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    operationMessage (content) {
      this.$message({
        message: content
      })
    },
    isDisabled (framework_id) {
      if (framework_id == 1) {
        return true;
      } else {
        return false;
      }
    },
    handleChange(value) {
        // console.log(value)
      }
  }
}
</script>
