<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ stageData.name }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <b>Activity Categories</b><br><br>
        <el-row :key="ac.name" v-for="ac in stageData.activity_categories" type="flex" justify="space-between">
          <el-col :span="4">{{ ac.name }}</el-col>
          <el-col :span="12">
            <el-progress :percentage="ac.percent" :color="customColorMethod(ac.percent)"></el-progress>
          </el-col>
          <el-col :span="6">{{ ac.complete }} out of {{ac.total }} activities complete</el-col>
        </el-row>
        <br><br><br>
        <b>Evaluation Areas</b><br><br>
        <el-row :key="ea.name" v-for="ea in activeEvalAreas" type="flex" justify="space-between">
          <el-col :span="4">{{ ea.name }}</el-col>
          <el-col :span="12">
            <el-progress :percentage="ea.percent" :color="customColorMethod(ea.percent)"></el-progress>
          </el-col>
          <el-col :span="6">{{ ea.complete }} out of {{ea.total }} activities complete</el-col>
        </el-row>
        <br><br><br>
        <b v-if="stageData.percent_complete < 100">Outstanding Activities</b><br><br>
        <el-row v-if="stageData.percent_complete < 100">
          <el-switch
            v-model="category"
            active-text="Evaluation Area"
            inactive-text="Activity Category"
            @change="activateData()"
          >
          </el-switch>
        </el-row>
        <br>
        <el-collapse v-model="activeNames" v-if="stageData.percent_complete < 100">
          <el-collapse-item v-for="stageCat in outstanding_activities" :key="stageCat.name" :title="stageCat.name" :name="stageCat.name">
            <ul>
              <el-collapse-item v-for="act in stageCat.outstanding" :key="act.name" :title="act.name" :name="act.name">
                <ul>
                  <li>
                    <span><b>Description:</b> {{ act.description }}</span>
                  </li>
                  <li>
                    <span><b>Further Details:</b> {{ act.further_details }}</span>
                  </li>
                </ul>
              </el-collapse-item>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Stages from '@/components/Stages'

export default {
  data() {
    return {
      studyData: [],
      outstanding_activities: [],
      category: false,
      stageData: '',
      activeEvalAreas: '',
      activeNames: ''
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.stageData = this.$route.params.stage_data
    this.getActiveEvalAreas()
    this.activateData()
  },
  components: {
    Stages
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'ChecklistOutput', params: { study_data: this.studyData }})
    },
    getActiveEvalAreas() {
      this.activeEvalAreas = this.stageData.evaluation_areas.filter(function (el) {
        if (el.total != 0) {
          return el
        }
      });
    },
    activateData () {
      if (this.category) {
        this.outstanding_activities = this.stageData.evaluation_areas.filter(function (el) {
          if (el.total != 0 && el.percent != 100) {
            return el
          }
        })
      } else  {
        this.outstanding_activities = this.stageData.activity_categories.filter(function (el) {
          if (el.total != 0 && el.percent != 100) {
            return el
          }
        })
      }
    },
    customColorMethod(percentage) {
        if (percentage < 33) {
          return '#f56c6c';
        } else if (percentage < 66) {
          return '#909399';
        } else if (percentage < 100) {
          return '#e6a23c';
        } else {
          return '#5cb87a';
        }
      }
  }
}
</script>
