<template>
  <div>
    <Plotly :data="bar_chart_data" :layout="layout"></Plotly>
  </div>
</template>


<script>
import axios from 'axios'
import { Plotly } from 'vue-plotly'

export default {
  props: [
    'bar_chart_data'
  ],
  components: {
    Plotly
  },
  data() {
    return {
      x: null,
      y: null,
      title: null,
      layout: {
        margin: {
          l: 50,
          r: 50,
          b: 30,
          t: 30,
          pad: 4
        },
        // xaxis: {
        //   tickmode: 'array',
        //   tickvals: [0, 1, 2, 3, 4],
        //   ticktext: ['Unacceptable', 'Poor', 'Acceptable', 'Good', 'Excellent'],
        //   range: [-0.2, 4.2],
        // },
      }
    }
  },
  computed: {
    data() {
      let d = [{
        type: 'bar',
        x: this.bar_chart_data[0].x,
        y: this.bar_chart_data[0].y,
        orientation: 'v'
      }];
      return d
    },
  }
}
</script>
