<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ appStageGateData.stage_gate }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-collapse v-model="activeNames">
          <el-collapse-item v-for="qCat in assessorScores.question_categories" :key="qCat.name" :title="qCat.name" :name="qCat.name">
            <ul>
              <span v-html=qCat.description></span>
              <el-collapse-item v-for="q in qCat.questions" :key="q.name" :name="q.name" :title="q.name">
                <ul>
                  <li>
                    <p><b>Description:</b> <span v-html=q.description></span></p>
                  </li>
                  <li>
                    <span><b>Weighting:</b> {{ q.weighting }}</span>
                  </li>
                  <li v-if="q.question_metric">
                    <span><b>Metric:</b></span>
                    <ul>
                      <li>
                        <span><b>Name:</b> {{ q.question_metric.metric.name }}</span>
                      </li>
                      <li>
                        <span><b>Evaluation area:</b> {{ q.question_metric.metric.evaluation_area.name }}</span>
                      </li>
                      <li>
                        <span><b>Unit:</b> {{ q.question_metric.metric.unit }}</span>
                      </li>
                      <li v-if="q.question_metric.threshold_bool">
                        <span><b>Threshold:</b> {{ q.question_metric.threshold }}</span>
                      </li>
                    </ul>
                  </li>
                  <li v-if="q.question_metric">
                    <span><b>Metric result:</b> {{ q.applicant_results.result }}</span>
                  </li>
                  <li v-else>
                    <span><b>Response:</b> The applicant's response is printed here, to be assessed against the scoring criteria. </span>
                  </li>
                  <li v-if="q.question_metric">
                    <span><b>Justification:</b> {{ q.applicant_results.justification }}</span>
                  </li>
                  <li v-if="isThresholdApplied(q)">
                    <span><b>Threshold passed:</b> {{ returnThresholdPassed(q) }}</span>
                  </li>
                  <li v-if="isThresholdFailed(q)">
                    <span><b>Absolute distance:</b> {{ q.applicant_results.absolute_distance }}</span>
                  </li>
                  <li v-if="isThresholdFailed(q)">
                    <span><b>Percentage distance:</b> {{ q.applicant_results.percent_distance }}</span>
                  </li>
                  <br>
                  <el-form :model="appStageGateData">
                    <el-form-item label="Assessor comments"></el-form-item>
                    <el-form-item v-for="sc in q.scoring_criteria" :key="sc.id" :title="sc.na" :name="sc.id">
                      <i>{{ sc.description }}</i>
                      <el-input
                        v-model="sc.comment.comment"
                        autocomplete="off"
                        type="textarea"
                        :rows="2"
                        placeholder="Optional assessor comments on each scoring criterion"></el-input>
                    </el-form-item>
                    <el-form-item label="Assessor score"><br>
                      <el-select v-model="q.score.score" placeholder="Select">
                        <el-option
                          v-for="item in options"
                          :key="item.id"
                          :label="item.score"
                          :value="item.score">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                </ul>
              </el-collapse-item>
            </ul>
          </el-collapse-item>
        </el-collapse>
        <br>
        <div>
          <el-row type="flex" justify="center">
            <el-col :span="6">
              <el-button
                type='primary'
                @click="onSaveAssessorScores()">Save</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="success"
                @click="checkAssessorInputPayload()">Submit</el-button>
            </el-col>
          </el-row>
        </div>
        <el-dialog title="Assessor Scores are not complete" :visible.sync="defaultScoreDialogVisible">
          <span>The Assessor Scores for some of the answers have not been filled. Do you want to assign a default score of 2 to these answers?</span><br><br>
          <span>Clicking 'Yes' will submit these scores and take you to the results page.</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="onCancel">No</el-button>
            <el-button type="warning" @click="onFillScores">Yes</el-button>
          </span>
        </el-dialog>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      studyData: [],
      score_list: [],
      appStageGateData: [],
      activeNames: [],
      assessorScores: {},
      options: [{
        id: 1,
        score: '0'
      }, {
        id: 2,
        score: '1'
      }, {
        id: 3,
        score: '2'
      }, {
        id: 4,
        score: '3'
      }, {
        id: 5,
        score: '4'
      }],
      value: '',
      defaultScoreDialogVisible: false
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate
    this.getAssessorScores(this.appStageGateData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    },
    getAssessorScores(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/assessor-scores`
      axios.get(path)
        .then((res) => {
          this.assessorScores = res.data
          this.score_list = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.score)).flat()
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    isThresholdApplied(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          return true;
        }
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          if (!q.applicant_results.threshold_passed) {
            return true;
          }
        }
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.applicant_results.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
    getAssessorScoresPayload() {
      var scores = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.score));
      var comments = this.assessorScores.question_categories.map(q_cat => q_cat.questions.map(q => q.scoring_criteria.map(sc => sc.comment)));
      var scores_and_comments = {
        assessor_scores: scores.flat(),
        assessor_comments: comments.flat().flat()
      }
      return scores_and_comments
    },
    checkAssessorInputPayload() {
      if (this.checkEmptyScores()) {
        this.defaultScoreDialogVisible = true
      } else {
        this.onSubmitAssessorScores()
      }
    },
    checkEmptyScores() {
      var e = this.score_list.some(
        function(i) {
            return i['score'] === null;
        });
      if (e) {
        return true;
      } else {
        return false;
      }
    },
    onCancel() {
      this.defaultScoreDialogVisible = false
    },
    onFillScores() {
      for (const obj of this.score_list) {
        if (obj.score === undefined || obj.score === null) {
          obj.score = "2";
        }
      }
      this.onSubmitAssessorScores()
    },
    onSaveAssessorScores() {
      this.saveAssessorScores()
      this.$message({
        message: "Assessor scores have been saved",
        type: "success"
      })
    },
    saveAssessorScores() {
      const payload = this.getAssessorScoresPayload()
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-scores`
      axios.put(path, payload)
        .then(() => {
          // console.log(payload)
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    onSubmitAssessorScores() {
      this.saveAssessorScores()
      this.openAssessorOutputs()
    },
    handleChange(value) {
      // console.log(value)
    },
    openAssessorOutputs() {
      this.updateAssessorStudyStatus()
      this.$router.push({ name: 'AssessorOutput', params: {study_data: this.studyData, app_stage_gate_data: this.appStageGateData }})
    },
    updateAssessorStudyStatus() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-status`
      axios.get(path)
        .then(() => {
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    }
  }
}
</script>
