<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-row type="flex" justify="space-around">
          <el-col :key="s.name" v-for="(s, index) in summary_stage_data" :span="6">
            <center>
              <el-button type="text" @click="openChecklistStage(index)">{{ s.name }}</el-button>
              <br><br><br>
              <el-progress type="circle" :percentage="s.percent_complete" :color="customColorMethod(s.percent_complete)"></el-progress>
            </center>
          </el-col>
        </el-row>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      studyData: [],
      percentage: 100,
      summary_stage_data: []
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.getChecklistOutputs()
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    getChecklistOutputs() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${this.studyData.id}/checklist-outputs`
      axios.get(path)
        .then((res) => {
          this.summary_stage_data = res.data.results
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    },
    customColorMethod(percentage) {
        if (percentage < 33) {
          return '#f56c6c';
        } else if (percentage < 66) {
          return '#909399';
        } else if (percentage < 100) {
          return '#e6a23c';
        } else {
          return '#5cb87a';
        }
      },
    openChecklistStage(idx) {
      const stageData = this.summary_stage_data[idx]
      this.$router.push({ name: 'ChecklistStage', params: { study_data: this.studyData, stage_data: stageData } })
    }
  }
}
</script>
