<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ appStageGateData.stage_gate }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <h3>Overall scores</h3>
          <ul v-for="sr in stageResults" :key="sr.id">
            <bar-chart :bar_chart_data="sr"></bar-chart>
          </ul>
        <br>
        <h3>Question Category scores</h3>
          <ul v-for="qc in questionCategoryResults" :key="qc.id">
            <bar-chart :bar_chart_data="qc"></bar-chart>
          </ul>
        <br>
        <h3>Evaluation Area scores</h3>
          <ul v-for="ea in evaluationAreaResults" :key="ea.id">
            <bar-chart :bar_chart_data="ea"></bar-chart>
          </ul>
        <br>
        <h3>Assessor Scores and Comments</h3>
          <el-collapse v-model="activeNames">
            <el-collapse-item v-for="qCat in assessorStageGateData.question_categories" :key="qCat.name" :title="qCat.name" :name="qCat.name">
              <ul>
                {{ qCat.description }}
                <el-collapse-item v-for="q in qCat.questions" :key="q.name" :name="q.name" :title="q.name">
                  <ul>
                    <li>
                      <span> <b>Description:</b> {{ q.description }}</span>
                    </li>
                    <li>
                      <span><b>Further Details:</b> {{ q.further_details }}</span>
                    </li>
                    <li>
                      <span><b>Weighting:</b> {{ q.weighting }}</span>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Metric:</b></span>
                      <ul>
                        <li>
                          <span><b>Name:</b> {{ q.question_metric.metric.name }}</span>
                        </li>
                        <li>
                          <span><b>Evaluation area:</b> {{ q.question_metric.metric.evaluation_area.name }}</span>
                        </li>
                        <li>
                          <span><b>Unit:</b> {{ q.question_metric.metric.unit }}</span>
                        </li>
                        <li v-if="q.question_metric.threshold_bool">
                          <span><b>Threshold:</b> {{ q.question_metric.threshold }}</span>
                        </li>
                      </ul>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Metric result:</b> {{ q.applicant_results.result }}</span>
                    </li>
                    <li v-else>
                      <span><b>Response:</b> {{ q.applicant_results.response }}</span>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Justification:</b> {{ q.applicant_results.justification }}</span>
                    </li>
                    <li v-if="isThresholdApplied(q)">
                      <span><b>Threshold passed:</b> {{ returnThresholdPassed(q) }}</span>
                    </li>
                    <li v-if="isThresholdFailed(q)">
                      <span><b>Absolute distance:</b> {{ q.applicant_results.absolute_distance }}</span>
                    </li>
                    <li v-if="isThresholdFailed(q)">
                      <span><b>Percentage distance:</b> {{ q.applicant_results.percent_distance }}</span>
                    </li>
                    <li>
                      <span><b>Scoring criteria:</b></span>
                      <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                        <li>
                          <span>{{ sc.name }}</span>
                          <ul>
                            <li>
                              <span>Description: <i>{{ sc.description }}</i></span>
                            </li>
                            <li>
                            <span>Comment: {{ sc.comment.comment }}</span>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span><b>Assessor Score: </b>{{ q.score.score }} </span>
                    </li>
                  </ul>
                </el-collapse-item>
              </ul>
            </el-collapse-item>
          </el-collapse>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import BarChart from '@/components/BarChart'

const animationDuration = 3000
export default {
  components:{
    BarChart
  },
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      activeNames: [],
      stageResults: {},
      questionCategoryResults: {},
      evaluationAreaResults: {},
      assessorStageGateData: {},
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate_data
    this.getAssessorResults(this.appStageGateData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'AssessorHome', params: {study_data: this.studyData }})
    },
    getAssessorResults(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/assessor-results`
      axios.get(path)
        .then((res) => {
          this.stageResults = res.data.overall
          this.questionCategoryResults = res.data.question_categories
          this.evaluationAreaResults = res.data.evaluation_areas
          this.assessorStageGateData = res.data.responses
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    customColorMethod(percentage) {
        if (percentage < 33) {
          return '#f56c6c';
        } else if (percentage < 66) {
          return '#909399';
        } else if (percentage < 100) {
          return '#e6a23c';
        } else {
          return '#5cb87a';
        }
    },
    isThresholdApplied(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          return true;
        }
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          if (!q.applicant_results.threshold_passed) {
            return true;
          }
        }
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.applicant_results.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
  }
}
</script>

<style>
.chart-wrapper {
  width: 100%;
  height:700px;
}
</style>
