<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ appStageGateData.stage_gate }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <h3>Summary</h3>
          <el-row type="flex" justify="space-around">
            <el-col :span="4">Response rate (%)</el-col>
            <el-col :span="18">
              <el-progress :percentage="summaryData.response_rate" :color="customColorMethod(summaryData.response_rate)"></el-progress>
            </el-col>
            <el-col :span="2"></el-col>
          </el-row>
          <br>
          <el-row v-if="checkThresholdSuccessRate()" type="flex" justify="space-around">
            <el-col :span="4">Threshold success rate (%)</el-col>
            <el-col :span="18">
              <el-progress :percentage="summaryData.threshold_success_rate" :color="customColorMethod(summaryData.threshold_success_rate)"></el-progress>
            </el-col>
            <el-col :span="2"></el-col>
          </el-row>
        <br>
        <h3>Metric results</h3>
          <el-table
            v-loading="listLoading"
            :data="metricResults"
            element-loading-text="Loading"
            :row-class-name="tableRowClassName"
            border
            fit
            highlight-current-row
          >
            <el-table-column
              prop="metric"
              label="Metric"
              sortable
              width="300">
            </el-table-column>
            <el-table-column
              prop="unit"
              label="Unit"
              width="180">
            </el-table-column>
            <el-table-column
              prop="result"
              label="Result"
              width="80">
            </el-table-column>
            <el-table-column
              prop="threshold_type"
              label="Threshold type"
              width="140">
              <template
                slot="header">
                <el-popover
                  ref="fromPopOver1"
                  placement="top-start"
                  width="250"
                  trigger="hover">
                  <span>
                  Metric results pass if they are lower <br>
                  than 'upper' thresholds or greater <br>
                  than 'lower' thresholds
                  </span>
                </el-popover>
                <span>Threshold type <i
                  v-popover:fromPopOver1
                  class="el-icon-info"/>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="threshold"
              label="Threshold"
              width="100">
            </el-table-column>
            <el-table-column
              prop="threshold_passed"
              label="Pass/fail"
              width="120"
              sortable
              :formatter="passFailFormatter">
            </el-table-column>
            <el-table-column
              prop="absolute_distance"
              label="Absolute difference (units)"
              width="240">
              <template
                slot="header">
                <el-popover
                  ref="fromPopOver2"
                  placement="top-start"
                  width="250"
                  trigger="hover">
                  <span>
                  Absolute distance between the <br>
                  metric and the threshold, in the <br>
                  units of the metric
                  </span>
                </el-popover>
                <span>Absolute distance (units) <i
                  v-popover:fromPopOver2
                  class="el-icon-info"/>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="percent_distance"
              sortable
              label="Percentage difference (%)">
              <template
                slot="header">
                <el-popover
                  ref="fromPopOver3"
                  placement="top-start"
                  width="250"
                  trigger="hover">
                  <span>
                  The absolute distance divided <br>
                  by the threshold and expressed <br>
                  as a percentage
                  </span>
                </el-popover>
                <span>Percentage distance (%) <i
                  v-popover:fromPopOver3
                  class="el-icon-info"/>
                </span>
              </template>
            </el-table-column>
          </el-table>
          <!-- <div class="chart-wrapper">
            <chart :options="chartOptionsRadar"></chart>
          </div> -->
        <br>
        <h3>Responses</h3>
          <el-collapse v-model="activeNames">
            <el-collapse-item v-for="qCat in responses.question_categories" :key="qCat.name" :title="qCat.name" :name="qCat.name">
              <ul>
                {{ qCat.description }}
                <el-collapse-item v-for="q in qCat.questions" :key="q.name" :name="q.name" :title="q.name">
                  <ul>
                    <li>
                      <span> <b>Description:</b> {{ q.description }}</span>
                    </li>
                    <li>
                      <span><b>Further Details:</b> {{ q.further_details }}</span>
                    </li>
                    <li>
                      <span><b>Weighting:</b> {{ q.weighting }}</span>
                    </li>
                    <li>
                      <span><b>Scoring criteria:</b></span>
                      <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                        <li>
                          <span>{{ sc.description }}</span>
                        </li>
                      </ul>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Metric:</b></span>
                      <ul>
                        <li>
                          <span><b>Name:</b> {{ q.question_metric.metric.name }}</span>
                        </li>
                        <li>
                          <span><b>Evaluation area:</b> {{ q.question_metric.metric.evaluation_area.name }}</span>
                        </li>
                        <li>
                          <span><b>Unit:</b> {{ q.question_metric.metric.unit }}</span>
                        </li>
                        <li v-if="q.question_metric.threshold_bool">
                          <span><b>Threshold:</b> {{ q.question_metric.threshold }}</span>
                        </li>
                      </ul>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Metric result:</b> {{ q.applicant_results.result }}</span>
                    </li>
                    <li v-else>
                      <span><b>Response:</b> {{ q.applicant_results.response }}</span>
                    </li>
                    <li v-if="q.question_metric">
                      <span><b>Justification:</b> {{ q.applicant_results.justification }}</span>
                    </li>
                    <li v-if="isThresholdApplied(q)">
                      <span><b>Threshold passed:</b> {{ returnThresholdPassed(q) }}</span>
                    </li>
                    <li v-if="isThresholdFailed(q)">
                      <span><b>Absolute distance:</b> {{ q.applicant_results.absolute_distance }}</span>
                    </li>
                    <li v-if="isThresholdFailed(q)">
                      <span><b>Percentage distance:</b> {{ q.applicant_results.percent_distance }}</span>
                    </li>
                  </ul>
                </el-collapse-item>
              </ul>
            </el-collapse-item>
          </el-collapse>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

const animationDuration = 3000
export default {
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      listLoading: false,
      activeNames: [],
      applicantResults: {},
      summaryData: {},
      responses: {},
      metricResults: []
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate_data
    this.getApplicantResults(this.appStageGateData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    getApplicantResults(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/applicant-results`
      axios.get(path)
        .then((res) => {
          this.applicantResults = res.data
          this.summaryData = this.applicantResults.summary_data
          this.responses = this.applicantResults.responses
          this.metricResults = this.applicantResults.metric_results
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
      this.listLoading = false
    },
    customColorMethod(percentage) {
        if (percentage < 33) {
          return '#f56c6c';
        } else if (percentage < 66) {
          return '#909399';
        } else if (percentage < 100) {
          return '#e6a23c';
        } else {
          return '#5cb87a';
        }
    },
    tableRowClassName({row, rowIndex}) {
      if (!row.threshold) {
        return '';
      } else if (row.threshold_passed) {
        return 'success-row';
      } else {
        return 'warning-row';
      }
    },
    passFailFormatter(row, column) {
      if (!row.threshold) {
        return '';
      } else if (row.threshold_passed) {
        return "PASS";
      } else {
        return "FAIL";
      }
    },
    isThresholdApplied(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          return true;
        }
      } else {
        return false;
      }
    },
    isThresholdFailed(q) {
      if (q.question_metric) {
        if (q.question_metric.threshold_bool) {
          if (!q.applicant_results.threshold_passed) {
            return true;
          }
        }
      } else {
        return false;
      }
    },
    returnThresholdPassed(q) {
      if (q.applicant_results.threshold_passed) {
        return "Yes";
      } else {
        return "No";
      }
    },
    checkThresholdSuccessRate() {
      if (this.summaryData.threshold_success_rate == 0 || this.summaryData.threshold_success_rate) {
        return true;
      } else {
        return false;
      }
    }
  }
}
</script>

<style>
.chart-wrapper {
  width: 100%;
  height:700px;
}
.el-table .warning-row {
  background: rgb(219, 167, 153);
}

.el-table .success-row {
  background: #bedaaf;
}
</style>
