<template>
  <div style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;">
    <!-- <header style="display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px 30px;"> -->
      <h1>Entity Title: </h1> <span style="font-size: 250%; color: teal; text-transform: capitalize">{{ studyTitle }}</span>
      <h3 style="float: right">entity ID# {{ studyId }}</h3>
  </div>
</template>


<script>

export default {
  name: 'EntityTitle',
  computed: {
    studyId() {
      return this.$store.getters.studyId
    },
    studyTitle() {
      return this.$store.getters.studyTitle
    }
  }
}
</script>


