<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <ul>
          <li v-for="app_stage_gate in stageGateData" :key="app_stage_gate.id">
            {{ app_stage_gate.stage_gate }}
            <ul>
              <el-button type="text" @click="openStageGateInput(app_stage_gate)" :disabled="!app_stage_gate.applicant_complete"><u>Assess</u></el-button>
              <el-button type="text" @click="openStageGateOutput(app_stage_gate)" :disabled="!app_stage_gate.assessor_complete"><u>View Assessor Results</u></el-button>
            </ul>
          </li>
        </ul>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      studyData: [],
      framework_data: [],
      stageGateData: [],
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.getStageGateData(this.studyData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'SgStudiesHome', params: { study_id: this.studyData.id } })
    },
    getStageGateData(sgID) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-studies/${sgID}/stage-gate-assessments`
      axios.get(path)
        .then((res) => {
          this.stageGateData = res.data.stage_gate_assessments
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    openStageGateInput(app_stage_gate) {
      this.$router.push({ name: 'AssessorInput', params: {
        study_data: this.studyData,
        app_stage_gate: app_stage_gate
        }})
    },
    openStageGateOutput(app_stage_gate) {
      this.$router.push({ name: 'AssessorOutput', params: {study_data: this.studyData, app_stage_gate_data: app_stage_gate }})
    }
  }
}
</script>
