<template>
  <div class="app-container">
    <div>
      <el-header>
        <p><el-button
          icon="el-icon-arrow-left"
          @click="goBack()">Go Back</el-button></p><br>
        <p><b>Name of Study: </b> {{ studyData.name }}</p>
        <p><b>Description: </b> {{ studyData.description }}</p>
        <p><b>Framework: </b> {{ studyData.framework }}</p>
        <br>
        <p><b>{{ appStageGateData.stage_gate }}</b></p>
      </el-header>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
      <el-main>
        <el-collapse v-model="activeNames">
          <el-collapse-item v-for="qCat in applicantAnswers.question_categories" :key="qCat.name" :title="qCat.name" :name="qCat.name">
            <ul>
              <span v-html=qCat.description></span>
              <el-collapse-item v-for="q in qCat.questions" :key="q.name" :name="q.name" :title="q.name">
                <ul>
                  <li>
                    <p><b>Description:</b> <span v-html=q.description></span></p>
                  </li>
                  <li>
                    <span><b>Weighting:</b> {{ q.weighting }}</span>
                  </li>
                  <li>
                    <span><b>Scoring criteria:</b></span>
                    <ul :key="sc.id" v-for="sc in q.scoring_criteria">
                      <li>
                        <span>{{ sc.description }}</span>
                      </li>
                    </ul>
                  </li>
                  <li v-if="q.question_metric">
                    <span><b>Metric:</b></span>
                    <ul>
                      <li>
                        <span><b>Name:</b> {{ q.question_metric.metric.name }}</span>
                      </li>
                      <li>
                        <span><b>Evaluation area:</b> {{ q.question_metric.metric.evaluation_area.name }}</span>
                      </li>
                      <li>
                        <span><b>Unit:</b> {{ q.question_metric.metric.unit }}</span>
                      </li>
                      <li v-if="q.question_metric.threshold_bool">
                        <span><b>Threshold:</b> {{ q.question_metric.threshold }}</span>
                      </li>
                    </ul>
                  </li>
                  <br>
                  <el-form :model="appStageGateData">
                    <el-form-item label="Result" v-if="q.question_metric"><br>
                      <el-input-number
                        v-model="q.applicant_answers.result"
                        @change="handleChange"
                        autocomplete="off"></el-input-number>
                    </el-form-item>
                    <el-form-item label="Justification" v-if="q.question_metric">
                      <el-input
                        v-model="q.applicant_answers.justification"
                        autocomplete="off"
                        type="textarea"
                        :rows="2"
                        placeholder="Please input justification and assumptions for the metric result provided above"></el-input>
                    </el-form-item>
                    <el-form-item label="Response" v-else>
                      <el-input
                        v-model="q.applicant_answers.response"
                        autocomplete="off"
                        type="textarea"
                        :rows="2"
                        placeholder="Please input your response and justification to the question"></el-input>
                    </el-form-item>
                  </el-form>
                </ul>
              </el-collapse-item>
            </ul>
          </el-collapse-item>
        </el-collapse>
        <br>
        <div>
          <el-row type="flex" justify="center">
            <el-col :span="6">
              <el-button
                type='primary'
                @click="onSaveApplicantInputs()">Save</el-button>
            </el-col>
            <el-col :span="6">
              <el-button
                type="success"
                @click="onSubmitApplicantInputs()">Submit</el-button>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      studyData: [],
      appStageGateData: [],
      activeNames: [],
      question_cat_idx: 0,
      applicantAnswers: [],
      saveAnswerMessage: ''
    }
  },
  created() {
    this.studyData = this.$route.params.study_data
    this.appStageGateData = this.$route.params.app_stage_gate
    this.getApplicantAnswers(this.appStageGateData.id)
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'ApplicantHome', params: {study_data: this.studyData }})
    },
    getApplicantAnswers(appStageGateId) {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${appStageGateId}/applicant-answers`
      axios.get(path)
        .then((res) => {
          this.applicantAnswers = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    onSaveApplicantInputs() {
      this.saveApplicantInputs()
      this.$message({
        message: "Applicant responses have been saved",
        type: "success"
      })
    },
    saveApplicantInputs() {
      const payload = this.getApplicantAnswerPayload()
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/applicant-answers`
      axios.put(path, payload)
        .then(() => {
          // console.log(payload)
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    },
    getApplicantAnswerPayload() {
      var result = this.applicantAnswers.question_categories.map(q_cat => q_cat.questions.map(q => q.applicant_answers));
      return result.flat()
    },
    onSubmitApplicantInputs() {
      this.saveApplicantInputs()
      this.openApplicantOutputs()
    },
    handleChange(value) {
      // console.log(value)
    },
    openApplicantOutputs() {
      this.updateApplicantStudyStatus()
      this.$router.push({ name: 'ApplicantOutput', params: {study_data: this.studyData, app_stage_gate_data: this.appStageGateData }})
    },
    updateApplicantStudyStatus() {
      const path = `${process.env.VUE_APP_API_URL}/api/stage-gate-assessments/${this.appStageGateData.id}/applicant-status`
      axios.get(path)
        .then(() => {
          // console.log(path)
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.log(error);
        })
    }
  }
}
</script>
