<template>
  <div class="app-container">
    <br>
    <el-row>
      <el-button type="text" @click="dialogVisible = true" icon="el-icon-circle-plus-outline" data-cy="createProjectBtn">Add New Project</el-button>
    </el-row>
    <div>
      <el-dialog title="Create a new RAMS study" :visible.sync="dialogVisible" width="30%">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="120px"
          class="demo-ruleForm"
        >
          <el-form-item label="Project Title" prop="title">
            <el-input v-model="ruleForm.title" placeholder="add a project unique title" data-cy="projectTitle"></el-input>
          </el-form-item>
          <el-form-item label="Tags" prop="tags">
            <el-input v-model="ruleForm.tags" placeholder="add a project tag" data-cy="projectTags"></el-input>
          </el-form-item>
          <el-form-item label="Project Complexity" prop="complexity">
            <el-select v-model="ruleForm.complexity" placeholder="Complexity Level" data-cy="projectComplexity">
              <el-option label="1" value="1"></el-option>
              <el-option label="2" value="2"></el-option>
              <el-option label="3" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Installation Lifespan">
            <el-select v-model="ruleForm.lifetime" data-cy="projectLifespan">
              <el-option
                  v-for="item in 50"
                  :key="item"
                  :label="item"
                  :value="item">
                </el-option>
            </el-select>
            <span>years</span>
          </el-form-item>
          <el-form-item label="Project Description" prop="desc">
            <el-input
              placeholder="short project description"
              type="textarea"
              v-model="ruleForm.desc"
              data-cy="projectDescription"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')" v-if="editingRole" data-cy="projectSave">Save</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')" v-else data-cy="projectCreate">Create</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>

    <el-table :data="rams_study.filter(data => !search || data.tags.toLowerCase().includes(search.toLowerCase()))"
              style="width: 100%"
              max-height="500">
       <el-table-column type="expand">
        <template slot-scope="props">
          <p>Database ID: {{ props.row.id }}</p>
          <p>Description: {{ props.row.desc }}</p>
          <p>Tags: {{ props.row.tags }}</p>
        </template>
      </el-table-column>
      <!-- <el-table-column fixed prop="id" label="ID" width="50"></el-table-column> -->
      <el-table-column prop="title" label="Title" width="120"></el-table-column>
      <el-table-column prop="date" label="Date" width="120"></el-table-column>
      <el-table-column prop="complexity" label="Complexity" width="300"></el-table-column>
      <el-table-column prop="status" label="Status" width="120"></el-table-column>
      <el-table-column fixed="right" label="Operations" width="180">
         <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Filter by Tags"/>
        </template>
        <template slot-scope="scope">
          <el-button
            @click.native.prevent="deleteRow(scope.$index, rams_study)"
            type="text"
            size="small"
            data-cy="projectRemove"
          >Remove</el-button>
          <!-- <el-button
            @click.native.prevent="copyRow(scope.$index, rams_study)"
            type="text"
            size="small"
            data-cy="projectCopy"
          >Copy</el-button> -->
          <el-button
            @click.native.prevent="editRow(scope.$index, rams_study)"
            type="text"
            size="small"
            data-cy="projectEdit"
          >Edit</el-button>
          <el-button
            @click.native.prevent="openRow(scope.$index, rams_study)"
            type="text"
            size="small"
            data-cy="projectOpen"
          >Open</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      search: '',
      name: "Dashboard",
      message: "",
      ruleForm: {
        title: "test",
        tags: "tec",
        complexity: 1,//null,
        desc: "test",
        lifetime: 20
      },
      rules: {
        title: [
          {
            required: true,
            message: "Please input a projct title",
            trigger: "blur"
          },
          {
            min: 3,
            max: 15,
            message: "Length should be 3 to 15",
            trigger: "blur"
          }
        ],
        tags: [
          {
            required: true,
            message: "Please input a tag for the project",
            trigger: "blur"
          },
          {
            min: 3,
            max: 5,
            message: "Length should be 3 to 5",
            trigger: "blur"
          }
        ],
        complexity: [
          {
            required: true,
            message: "Please select a Project Complexity",
            trigger: "change"
          }
        ],
        desc: [
          {
            required: true,
            message: "Please input a project description",
            trigger: "blur"
          }
        ]
      },
      dialogVisible: false,
      editingRole: false,
      rams_study: []
    };
  },
  created() {
    this.getProjects();
  },
  methods: {
    postProject(payload) {
      const path = `${process.env.VUE_APP_API_URL}/rams`;
      payload.status = 0;
      console.log('PAYLOAD', payload, path)
      axios
        .post(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          this.getProjects();
          this.message = res.data;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          this.getProjects();
        });
    },
    putProject(payload) {
      const path = `${process.env.VUE_APP_API_URL}/rams/${payload.id}`;
      var dateobj = new Date();
      payload.date = dateobj.toString().substring(3, 24);
      payload.status = 0;
      axios
        .put(path, payload)
        .then(res => {
          // fetch the updated list of project is successfull
          this.formSetDefault();
          this.getProjects();
          this.message = res.data;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          this.getProjects();
        });
    },
    getProjects() {
      const path = `${process.env.VUE_APP_API_URL}/rams`;
      axios
        .get(path)
        .then(res => {
          this.rams_study = res.data;
        })
        .catch(error => {
          // eslint-disable-next-line
          this.rams_study = []
          console.error(error);
        });
    },
    removeProject(ramsId) {
      const path = `${process.env.VUE_APP_API_URL}/rams/${ramsId}`;
      axios
        .delete(path)
        .then(res => {
          this.getProjects();
          // this.message = res.data.result.message;
          this.showMessage = true;
        })
        .catch(error => {
          console.error(error);
          this.getProjects();
        });
    },
    deleteRow(index, rows) {
      this.removeProject(rows[index].id);
    },
    editRow(index, rows) {
      this.editingRole = true;
      this.ruleForm = rows[index];
      this.dialogVisible = true;
    },
    openRow(index, rows) {
      this.$store.dispatch('studies/setId', { studyId: rows[index].id });
      this.$router.push({ name: "RamsR" });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.dialogVisible = false;
          if (this.editingRole) {
            this.editingRole = false;
            this.putProject(this.$refs[formName]._props["model"]);
          } else {
            this.postProject(this.$refs[formName]._props["model"]);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    formSetDefault() {
      this.ruleForm.title = "";
      this.ruleForm.tags = "";
      this.ruleForm.complexity = null;
      this.ruleForm.desc = "";

      this.resetForm("ruleForm");
    }
  }
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>

